extends ../layout

block content
  .center-view
    .about-text
      div
        .header Կենսագրություն
        br
        img(src='/images/Karen-Ohanyan.jpg', style='width: 70%;', alt='')
        br
        br
        br
        |  Հայկական հետխորհրդային արվեստը արդեն իսկ անցել է երեք փուլով, որոնք պայմանականորեն կարելի է բաժանել հակասովետականի,
        |         պոստմոդերնիստականի և սոցիալ – քաղաքականի: 
        br
        br
        |  Այդ երրորդ փուլը կարելի է բնութագրել որպես շրջադարձ դեպի արվեստագետի
        |         ակտիվ մասնակցություն սոցիալական, տնտեսական, մշակութային և քաղաքական բախումներին, երբ արվեստագետները քննադատական մոտեցում
        |         ունեն արվեստի հաստատություններին և ձգտում են գործել նրանցից դուրս:
        br
        br
        |  Կարեն Օհանյանը այս փուլի առանցքային արվեստագետներից
        |         է: Նրա ստեղծագործական սկզբունքներն են՝ մասնակցությունը, տրանսգրեսիվ ակտիվությունը, որի համար նա ստացել է Shiz նիկնեյմը,
        |         քաղաքական սկզբունքայնությունը և ֆրոնտալ, ֆակտուալ ռեալիզմի էսթետիկան, ըստ իր բնորոշուման:
        br
        br
        |  Կարեն Օհանյանը քաղաքական ընթացքներին որպես ակտիվիստ սկսեց մասնակցել հատկապես 2003 թվականին ՝ հայտնվելով
        |         ցուցարարների և ոստիկանության բախումների ավանգարդում: 
        br
        br
        |  2008թ. Մարտի 1 խաղաղ ցույցերը ճնշելու ժամանակ կոռումպացված
        |         ռեժիմի զոհ դարձան տաս քաղաքացի: Այդ պահից սկսած, լինելով գաղափարական անարխիստ, նա ակտիվ մասնակցություն է ունեցել
        |         բոլոր նշանակալի քաղաքական ակցիաների: 
        br
        br
        |  Կարեն Օհանյանը ստեղծագործում է երկու մեդիաներում ՝ ակցիոնիզմ և գեղանկարչությունում,
        |         որտեղ նա փոխադրում է ակցիոնիզմի իր փորձը, իսկ գեղանկարչությունից ակցիոնիզմ է փոխադրել իրականության իր քննադատական
        |         մոտեցումը: Կարեն Օհանյանը 2007 թվականից հանդիսանում է «Արտ լաբորատորիա» քաղաքական արվեստի խմբի հիմնադիր անդամ: Արտ
        |         լաբորատորիան քաղաքական ակտիվիստական խումբ է, որի կարևորագույն սկզբունքներն են կոլեկտիվիզմը, ինքնակազմակերպումը և
        |         նոր հանրույթների ստեղծումը:
        br
        br
        |  Կարեն Օհանյանի համար իդեալ է հանդիսանում Փարիզի կոմունայի սոցիալական ռեալիստ Գուստավ Կուրբեն: Այդ պատճառով
        |         արվեստի առումով Կարեն Օհանյանի համար առավել կարևոր է գեղանկարչական մեդիան, որպես զանգվածային կապիտալիստական մշակույթին
        |         հակազդելու միջոց: 
        br
        br
        |  Չնայած գեղանկարչությունը ավանդական մեդիա է, սակայն այն քաղաքականացվելու մեծ պոտենցիալ
        |         ունի, որովհետև, ի տարբերություն էլեկտրոնային մեդիաների, այն դուրս է տարաբնույթ հսկողության մեխանիզմներից: Քաղաքական
        |         գեղանկարչությունը ընդունակ է արձանագրել անվերահսկելին և տրանսգրեսիվը, այն փաստը, որ հաճախ մնում է անտեսանելի: Գեղանկարչության
        |         այդ հնարավորությունն է օգտագործում Կարեն Օհանյանը իր վարպետորեն արված կտավներում:
        br
        br
        strong Վարդան Ջալոյան
        br
        br
