extends ../layout

block content
  .center-view
    .articles
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/real-utopias-vardan-azatyan')
          h4.red Real Utopias
          p Vardan Azatyan / 2006
          p
          .smaller
            | If taking into account artistic and technical characteristics, as well as the scale and ambition of Karen Ohanyan’s
            | series Real Utopias (2005-2006), one can claim that they are among the best paintings recently produced in
            | Armenia. This article attempts at a formal- structural and social analysis of this series.
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/real-utopias-gohar-vardanyan')
          h4.red Karen Ohanyan’s “Real Utopias”
          p Gohar Vardanyan / 2006
          p
          .smaller
            | From May 5-31, 2006, Karen Ohanyan’s “Real Utopias” exhibition was heldin one of the contemporary art museums
            | called ACCEA (Armenian Center for Contemporary Experimental Art). In the accompanying textof the exhibition
            | the curator and art critic Vardan Azatyan presented the author using the formal-structural and social analysis
            | of his works.
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/walls-eva-khachatryan')
          h4.red Walls
          p Eva Khachatryan / 2007
          p
          .smaller
            | The gloomy wall, erected by Karen Ohanyan, arouses several associations. First with symbolism of barrier, obstacle
            | and walls famous in the history of mankind, which have caused revolutions and wars. After this in Ohanyan’s
            | works the wall turns into part of a larger attention to every stone and its specific significance.
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/vardan-jaloyan-body-investment')
          h4.red Инвестиции тела
          p Вардан Джалоян / 2008
          .smaller
            | Созданный несколько лет назад проект Карена Оганяна "Реальные утопии" вошел в число лучших художественных работ
            | года. Я думаю, что последняя серия картин Оганяна, "Инвестиции Тела" заслуживает той же оценки. Не сложно
            | найти общие черты между этими двумя проектами не смотря на то, что первый - скорее всего экзистенциальный,
            | а второй носит политический характер. В первой серии тело рассматривается как последняя “реальная вещь" и
            | как утопия - последнее свободное творческое пространство. В "Инвестиции тела", тело рассматривается по-другому;
            | это актуальное пространство - поле битвы микровластей.
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/from-avant-garde-to-avant-garde-elena-aydinyan')
          h4.red От авангарда к авангарду
          p Елена Айдинян / 2016
          .smaller
            | Советские двадцатые были временем построения утопии. И утопия эта казалась абсолютно возможной. Русский авангард
            | был одним из путей строительства нового мира. Последующие этапы советской истории свидетельствовали о провале
            | предполагаемой двадцатыми утопии. Они один за другим отдаляли и размывали ее очертания.
    br
    br
