extends ../layout

block content
  .center-view
    .col-md-8.col-md-offset-2.justify
      h3.red От авангарда к авангарду
      br
      p
        span Елена Айдинян
      br
      p
        | Советские двадцатые были временем построения утопии. И утопия эта казалась абсолютно возможной. Русский авангард был
        | одним из путей строительства нового мира. Последующие этапы советской истории свидетельствовали о провале предполагаемой
        | двадцатыми утопии. Они один за другим отдаляли и размывали ее очертания.
      p
        | На первый взгляд коллажи Карена Оганяна напоминают работы русского конструктивизма благодаря сочетанию черного, белого,
        | серого и красного, использованию фрагментов черно-белых фотографий и четким геометрическим фигурам. При более внимательном
        | рассмотрении понимаешь, что становишься свидетелем большого путешествия во времени. В качестве материала для коллажей
        | художник использовал вырезки из русскоязычных советских журналов, изданных начиная с 1950-х годов. “Нарезав” продукцию
        | периода провала утопии, художник перетасовал ее так, что она снова ожила в качестве авангарда. Однако то, что получается
        | после перетасовки, не возрождение или продолжение авангарда двадцатых. Оно принадлежит своему времени и своему историческому
        | контексту. Прежде всего, это искусство лишено той очевидной политической функции, которая была у его “прототипа”.
        | Оно не претендует на построение нового мира, а пытается разобраться в том мире, в котором находится. Его политическое
        | сопротивление остается в рамках культуры.
      p
        | Эти коллажи являются сочетанием несочетаемых культурных знаков. С одной стороны форма, отсылающая к конструктивизму,
        | с другой – изображения, отсылающие к советской истории постсталинской эпохи. Таким образом, к примеру, коллаж с надписью
        | “Расстрел”, отсылая к эстетике двадцатых годов, в то же время обращается к теме сталинских репрессий. Кроме того,
        | коллаж этот обладает потенциалом мощного эмоционального воздействия, что по определению не характерно для конструктивизма.
        | Коллаж с надписью “После смерти диктатора” заставляет усомниться в том, что смерть эта действительно имела место,
        | так как диктатор с хитроватой ухмылкой выглядывает из маленького окошка в большой красной плоскости и приветственным
        | жестом уверяет, что он всегда с нами. Интересно, что фотографию Сталина окаймляет красная линия. Это просто фрагмент
        | оформления журнала, не связанный с конструктивизмом, однако, будучи изъятым из контекста, он становится элементом
        | конструктивистской эстетики. Тем не менее, в коллаже с надписью “Памятник”, другой диктатор является уже сугубо изображением.
        | Внутри почти симметричной композиции образ становится декоративным элементом, поскольку он лишился самого главного
        | инструмента власти – взгляда. Фотография теряет при этом свойство отсылки к реальности и констатирует тот факт, что
        | она – всего лишь документ.
      p
        | В другом коллаже образ, напоминающий Лаврентия Берию, становится “жертвой” абстрактных элементов и сам же становится
        | абстрактным элементом. Коллажи, относящиеся к теме спорта, более всего напоминают конструктивистские работы. В некоторых
        | случаях их возможно было бы даже принять за работы русского конструктивизма. Однако, изображение вновь выдает хронологическое
        | несоответствие. Использованные изображения спортсменов типичны для журналов периода «застоя» и, несомненно, вызывают
        | ассоциации именно с этим периодом.
      p
        | Подобные ассоциации тем более вызывает коллаж с надписью “НЛО”. Интерес и внимание к летающим тарелкам, инопланетянам
        | в виде зеленых человечков и подобным проявлениям «любознательности» были возможны только в период «застоя», но, ни
        | в коем случае, не в ранние советские годы, когда и ученые, и художники взялись за строительство новой реальности
        | на Земле. Необходимость в параллельных реальностях – результат того, что строительство это не удалось. Коллаж с надписью
        | “Взрывчатка на рельсах” – особый пример параллели между абстрактными элементами конструктивизма и семантическим значением
        | текста; серые линии, которые являются вертикальной осью композиции, напоминают разлаженные рельсы. Коллаж “7-ой день,
        | занятие седьмое, воскресенье” проводит противоречивую параллель между советской действительностью и отсылками к Библии.
        | С одной стороны, выражение “День седьмой” отсылает к Сотворению мира, с другой – “Занятие седьмое” – отсылка к повседневной
        | плановой работе. С одной стороны, изображение скорее всего представляет собой некое спортивное или оздоровительное
        | действие, с другой стороны – фигура напоминает героя, осужденного на пытку или смерть и гордо и безмолвно принимающего
        | свой приговор. Впечатление беззащитности и полной “открытости” достигнуто благодаря тому, что лежащая фигура повернута
        | вертикально.
      p
        | Из пятнадцати коллажей только один стремится к тому, чтобы быть чисто абстрактным изображением форм. Слово “форма” здесь
        | становится частью абстрактной композиции, наряду с геометрическими фигурами. Сочетание различных этапов советской
        | истории, рассмотрение одних из них с помощью других, важны не только сами по себе, но и как событие в сегодняшней
        | культурной жизни. Это попытка осознать наше прошлое как советское прошлое. Мы являемся результатом сложного клубка
        | процессов, которые сегодня клубком же последовательно стираются из нашей исторической памяти.
      p
        | Художник предпринимает важный шаг: без пафоса, без оценок и без греческого хора он создает культурное пространство, в
        | котором наше общество может пережить тот аспект своей истории, которого в повседневной жизни чаще всего не осознаёт.
        | Для художника важно быть авангардистом, это его принципиальная позиция в культурном пространстве. Он играет культурными
        | знаками, сопоставляя несопоставимое. В этом жесте присутствует определенная ирония. Тем не менее, работы Оганяна
        | не лобовые и грубые гибриды Комара и Меламида, а тонкие и не лишенные остроумия замечания о “нашем общем детстве”.
