extends ../layout

block content
  .center-view
    .col-md-8.col-md-offset-2.justify
      .header.red From Avant-garde to Avant-garde 
      br
      p
        span Elena Aydinyan
      br
      p
        | During the 1920’s, the Soviet people were engaged in building a utopia. That utopia seemed to be absolutely feasible.
        | Russian avant-garde was one of the ways to construct a new World. The subsequent periods of Soviet history indicate
        | the failure of the realization of the utopia assumed by the 1920’s. One after another they alienated and washed away
        | its contour.
      p
        | At first, Karen Ohanyan’s collages remind us of Russian constructivist works thanks to the combinations of black, white
        | and red, the usage of black-and-white photographic fragments and sharp geometrical forms. Upon a closer examination
        | one realizes that time travel is taking place. In his collages the artist uses clippings of Russian language Soviet
        | magazines published since 1950’s. Having the production of the period of the utopian failure “cut into pieces”, the
        | artist shuffled it so that it has returned to life as avant-garde. However, the product of shuffling is not a rebirth
        | or a continuation of the 1920’s avant-garde. It belongs to its own time and its own historical context. First of
        | all, this art is deprived of the obvious political function that its “prototype” had. It does not aspire to build
        | a new world, but tries to make heads or tails of the one it finds itself in. Its political resistance stays in the
        | limits of culture.
      p
        | Those collages are a combination of incomparable cultural signs. On the one hand there is a form that refers to constructivism,
        | on the other hand – the images that refer to Stalinist and Post-Stalinist Soviet history. Thus, for example, the
        | collage with the inscription “Shooting” referring to the aesthetics of the 1920’s at the same time touches upon the
        | subject of Stalinist repressions. In addition, this collage has a great emotional impact that is generally not typical
        | for constructivism. The collage with the inscription “After the dictator’s death” makes one suspect whether the death
        | has really taken place. The dictator looks out of a small opening in a large red plane with a cunning smile and assures
        | us of his constant presence by a salutatory gesture. Interestingly enough, Stalin's photograph is bordered with a
        | red line. It is just a fragment of the magazine design that has nothing to do with constructivism, but being taken
        | out of its context it becomes an element of constructivist aesthetics. Nevertheless, in the collage with the inscription
        | “The Monument” another dictator is already a mere image. Inside an almost symmetrical composition the protagonist
        | becomes a decorative element, because he is deprived of the most significant instrument of power – the gaze. Meanwhile
        | the photograph loses its capacity of referring to the reality and states the fact of being just a document.
      p
        | In another collage a protagonist that reminds us of Lavrenty Beria “falls victim” to abstract elements and becomes an
        | abstract element himself.
      |     The collages that concern the subject of sport remind us of constructivist works most of all. In some cases they could even
      |     have been taken for Russian constructivist works. However, the image again gives away a chronological discrepancy. The
      |     images of the sportsmen are typical for the magazines of the Era of Stagnation and undoubtedly call up associations with
      |     that period. 
      p
      p
        | Moreover, similar associations are evoked by the collage with the inscription “UFO”. The interest towards flying saucers,
        | aliens as little green men and other manifestations of “inquisitiveness” of the kind were possible only during the
        | Era of Stagnation, but by no means in the early Soviet years when both scientists and artists got down to constructing
        | a new reality on Earth. The necessity of parallel realities is the result of the failure of this construction. The
        | collage with the inscription “The explosive on the rails” is a unique example of a parallel between abstract constructivist
        | elements and semantic meaning of the text: grey lines which are the vertical axis of the composition remind us of
        | disordered rails. The collage “The 7th Day, Lesson Seven, Sunday” draws a contradictory parallel between Soviet reality
        | and Biblical references. On the one hand, the expression “The Seventh Day” refers to the Creation of the World, on
        | the other hand – “Lesson seventh” refers to a systematic everyday work. While the image most probably shows some
        | sport or health-improving action, the figure reminds us of a hero condemned to torture or death and accepting his
        | sentence proudly and silently. The impression of defenselessness and complete “openness” is achieved by the vertical
        | rotation of a lying figure. Only one collage out of fifteen tends to be a pure abstract image of forms and text.
        | The word “Form” here becomes part of an abstract composition along with geometrical forms. The juxstaposition of
        | different periods of Soviet history, the consideration of some of them through the others are important not only
        | per se but also as an event in the cultural life of today’s Armenia. It is an attempt to realize our own past as
        | a Soviet past. We are a product of a complicated tangle of processes that today are being methodically obliterated
        | from our historical memory all at once.
      |     The artist takes an important step: without any pathos, assessments and Greek chorus he creates a cultural space in which
      |     our society can experience the aspects of its own history, that it commonly does not realize in its everyday life. The
      |     artist makes a great case for being an avant-gardist; it is his principal position in the cultural space. He plays with
      |     cultural signs juxtaposing that which cannot be juxtaposed. There is a certain shade of irony in this gesture. However,
      |     Ohanyan’s works are not the harsh hybrids created by Komar and Melamid, but subtle and witty observations on our “common
      |     childhood”.  
      p
      br
      br
      br
