extends ../layout

block content
  .center-view
   .col-md-8.col-md-offset-2.justify
    .header.red Real Utopias 
    br
    p
      span Vardan Azatyan
    br
    p
      em
        | If taking into account artistic and technical characteristics, as well as the scale and ambition of Karen Ohanyan’s series
      strong Real Utopias
      em
        | (2005-2006), one can claim that they are among the best paintings recently produced in Armenia. This article attempts at a formal-structural and social analysis of this series.
    p
      | Vibrant and active colors emanate from the canvases  the smallest of which is approximately two by two and a half
      | meters. Each canvas is constructed by  specific relations of dominant colors. Karen works with acrylic which,
      | on the one hand, makes color  bright and synthetically artificial, and on the other hand makes the surface of
      | the canvass matt. Karen’s brushwork is mainly rough, he paints large surfaces at once; this is perhaps the consequence
      | of his earlier, expressionist phase. His works, although photo-realistic, avoid the sfumato effect created by blurring
      | colors.
    p
      | Karen produced this series throughout a year. He went to the countryside in different seasons and took pictures of human
      | figures through the dewy glass. What is interesting is that these digital images were later directly transferred
      | from the computer screen onto the canvas.
    p
      | Karen works in a small room, so small that the canvases occupy almost all the space. The canvases are so large that they
      | do not enter the door, and Karen is compelled to bring them in via the balcony. And if we add the laborious and lengthy
      | process of finding proper frames, stretching the canvas and transferring the primary drawing onto the canvas via
      | a projector, than it is clear that the painting phase constitutes only a small part of the whole process of production.
      | Therefore, here we do not deal with pure paintings, but with a painterly project that incorporates elements of the
      | discourse of painting (landscape painting in the countryside, subtle impasto) and contemporary technological reality
      | (digital and computer technologies).
    p
      | From an iconographical perspective, we see the backs of male figures who stand, and in one case sit, behind the dew drops.
      | Interwoven with the figures these drops blur their visual contour. As a result they seem out-of-focus and half real;
      | it is not by chance that in a structural sense the place they occupy in the ground plane is the middle ground. At
      | the same time, the dew drops in the foreground in opposition to human figures are visually precise. In the amorphous
      | forms of dew drops the small and deformed images of the figure behind is reflected upside down. Thus if one rotates
      | the canvas hundred and eighty degrees it will be filled with numerous tiny human figures. This visual transgression
      | of the image perhaps witnesses Karen’s earlier surrealistic phase inspired by the great transgressor of images Rene
      | Magritte. And finally in the background one can discern the landscape.
    p
      | Thus, the whole picture can be divided into three structural spaces planes; the dew drops in the foreground, the figure
      | in the middle ground and the landscape in the background. And yet, one has to observe that there is one more, invisible
      | plane: the transparent dewy glass that at the same time corresponds to the physical surface of the canvas. Indeed,
      | in the process of production Karen’s gaze towards the reality to be depicted is mediated first by the lens of the
      | photo camera, second by the dewy glass, third by the projector’s lens, and fourth by the computer screen. This multilayered
      | intermediation problematizes the simple, innocent and harmonious relation between the artist and reality and makes
      | it complex. The work of art is not an outcome of the artist’s spontaneous inspiration; it is produced in the complex
      | relations between the artist and his/her reality. Thus Karen’s pictures reveal the difficulties of making art and
      | being an artist in Armenian reality: these images are not only technically but also psychologically hard won. It
      | seems that these difficulties are concealed in Karen’s works, just as the surface of the glass is hidden from the
      | viewer. Their colorful and optimistic mood makes the viewer pass over the hardships of everyday life. The works seem
      | to breathe with creative spontaneity and freshness, though they were borne out of the lack of that very spontaneity.
      | Karen’s works are utopias, as they attempt to show what is impossible to find in real life—a harmony. However he
      | does not recreate harmony in art, but rather finds it in reality where it is absent. His images are fixed and identically
      | reproduced in Armenia; paradoxically they are part of Armenian reality. This fact gives them the status of 
      em real utopias.
      |         Karen turns to the countryside, tries to fix the absent harmony between the human being and nature and fuses the
      |         natural force (water) with the figure as one inseparable whole. But the whole process of achieving this is intermediated
      |         with daily financial, technical and psychological problems which would face any middle class artist living and working
      |         in Armenia and one who attempts to carry out a painterly project of this scale (these problems vary from finding
      |         a car to reach to countryside, to negotiations with the frame maker over the high prices of the frames).
    p
      | And a question that often rises in this and similar situations in Armenia is: Is it worth of carrying on?
    p Yes! If one wants to make the place we live in, less unfavorable than it is.
    p 10.04.2006
    hr(size='1')
    p
      | It is not by chance that the intermediated image as a symbol of difficult interrelations with reality can be seen in
      | the works of other Armenian artists of Ohanyan’s generation. Examples are Astghik Melkonyan’s series of photographs
      em Don’t Lean
      |  (2004 and Loucine Davidyan’s video 
      em Bang Bang 
      | (2004)., See Vardan Azatyan, “Do Not Lean”,
      em Actual Art
      | , #3, 2005, pp. 139-142 (in Armenian).
    br
    br
    br
