extends ../layout

block content
  .center-view
    .article
      .justify
        h3.red Մարմնի ներդրումներ
        br
        div Վարդան Ջալոյան
        br
        div
          | Պատմական մատերիալիզմը ձգտում է պահել անցյալի այն պատկերը, որն անսպասելիորեն հայտնվում է պատմության կողմից ընտրված մարդուն՝
          | վտանգի պահին: Վտանգը սպառնում է թե՛ ավանդույթի բովանդակությանը, թե՛ այդ ավանդույթը ժառանգողներին: Միևնույն վտանգը
          | կախված է երկուսի գլխավերևում՝ տիրապետող դասակարգերի գործիքը դառնալու վտանգը: Յուրաքանչյուր դարաշրջանում պետք է նորից
          | փորձել խլել ավանդույթը հարմարվողականության ճանկերից, որն ուր որ է ծնկի է բերելու այն:
        div
          br
        div Վալտեր Բենյամին, 
        div Թեզիսներ պատմության փիլիսոփայության մասին 
        div
          br
        div
          | Կարեն Օհանյանի մի քանի տարի առաջ ստեղծված «Իրական ուտոպիաներ» շարքը գնհատվեց որպես տարվա լավագույն գեղանկարչական գործերից:
          | Կարծում եմ այդպիսին է նաև իր վերջին՝ Մարմնի ներդրումներ գեղանկարչական շարքը: Այս երկու նախագծերի միջև ընդհանրություն
          | գտնելը դժվար չէ, նույնիսկ եթե առաջինը ավելի շուտ էկզիստենցիալ, իսկ երկրորդը քաղաքական բնույթ ունի: Առաջինում մարմինը
          | դիտարկվում է և՛ որպես վերջին «իրականը», և՛ որպես ուտոպիա՝ վերջին ստեղծագործական ազատ տարածք: Երկրորդում մարմինը դիտարկված
          | է այլ կերպ. այն ակտուալ տարածք է՝ միկրոիշխանական ուժերի բախման մարտադաշտ:
        div
          | Երկու դեպքում էլ նկատելի է անհաղթահարելի մղումը հայտնաբերել իրականը: Որպես գեղանկարիչ Կարեն Օհանյանի հայացքը իրապես ուժեղ
          | է, սահմանափակված միայն սեփական ընկալումով, սեփական խղճով և ազնվությամբ: Արվեստագետը ձգտում է հաղթահարել մեր հասարակությանը
          | վարակած շփոթմունքը, վախը և հոգեկան ճնշված վիճակը: Հարցազրույցներից մեկում նկարիչը ասում է. «Իմ արվեստը հասկանալու
          | համար պետք է լինես ճնշված, բայց հասկանաս, որ դու ճնշված ես, և որ հետևաբար քեզ ազատություն է հարկավոր: Իմ արվեստը
          | այս հասարակության համար չէ, որովհետև մեր հասարակությունը չի ուզում ազատություն, բայց ես չեմ մեղադրում հասարակությանը,
          | քանի որ նրա մոտ գերիշխում է վախը»:
        div
          | Այդ իրականը այլևս չի կարող հիմնվել միայն սեփական աչքի նայիվ ընկալման վրա. տեսողությունը լրացվում է տեխնիկական միջոցների
          | հնարավորություններով, հայացքը լրացվում զննման անհրաժեշտ գործողությամբ: Միքելանջելո Անտոնինիի «Բլոու-ափ» կինոնկարում
          | լուսանկարիչը զննելով իր լուսանկարները նրանցից մեկում առկա թփերի հետևում հայտնաբերում է դիակ. սա խորհրդանշական է ժամանակակից
          | արվեստի համար, որը գերազանցում է դասական արվեստը իր զննել-հետազոտելու կարողությամբ:
        div
          | Ձգտելով իրականին Կարեն Օհանյանը օգտագործում է լուսանկարչական ապարատը: Լուսանկարելով, լուսնկարների միջև ընտրություն կատարելով,
          | ապա պրոյեկտորի միջոցով վերջիններիս փոխանցելով մեծ կտավներին, նա ստանում է նկարներ, որոնք կարելի է համարել «հիպերռեալիստական»:
        div
          | Ո՞րն է լուսանկարի դերը: Ինչպես նշեցի այն թույլ է տալիս զննելու, այսինքն՝ պատկերին նայելու մի քանի հայացքներով, կարծես
          | տարբեր տեսանկյուններից: Այստեղից մեծ կտավները և կերպարների անբնական մեծ մասշտաբները. նրա նկարները հնարավոր չէ ընդգրկել
          | մեկ հայացքով, ստիպված՝ աչքը մի քանի դիրք է ընդունում: Այս հնարքի շնորհիվ նրա կերպարները ձեռք են բերում զանգվածայնություն,
          | որով հատկապես ընդգծվում է մարմնականությունը: Առաջին պլան է դուրս գալիս ոչ-խոսքայինը, հատկապես կինեսիկան՝ ժեսթերի
          | լեզուն, երկրորդ պլան մղելով խոսքայինը՝ լեզվաբանականը: Խնդիրն այն է, որ հաղորդակցության ժամանակ մենք «տեսնում ենք»
          | խոսքը, նրա բովանդակությունը և ձևը, արտահայտչականությունը և իմաստը, իսկ ձեռքերի կամ աչքերի շարժումները սովորաբար անուշադրության
          | են մատնվում: Ժեսթը կարող է կրկնել կամ լրացնել խոսքը, բայց կարող է նաև հակասել նրան:
        div
          | Ժեսթերը առաջին հերթին վկայում են մարդու կողմից իր մարմինը օգտագործելու մասին, դրանք մարմնի տեխնիկայի արտահայտություն
          | են: Բայց ինչո՞ւ է կարևոր մարմնականությունը՝ մարմնի տեխնիկան: Եթե ավանդական էսթետիկական տեսակետից մարմնի մասին կարող
          | ենք ասել, որ այն գեղեցիկ է կամ անհամաչափ, ապա մարմնականությունը սոցիալական է: Միշել Ֆուկոն ասում է. «Եթե կարող էր
          | ստեղծվել մարմնի վրա [գոյություն ունեցող] որևէ գիտելիք, ապա միայն ռազմական և ուսումնական դիսցիպլինների հանրագումարի
          | միջոցով: Միայն մարմնի վրա իշխանությունից ելնելով միջոցով հնարավոր դարձավ ֆիզիոլոգիական և կազմակերպչական գիտելիքը»:
          | Ֆուկոն հավելում է. «Հենց մարմնի, ժեսթերի, վարվելակերպերի մեջ ներդրված իշխանության մեխանիզմների հետազոտության
          | վրա է հարկավոր կառուցել հումանիտար գիտությունների հնաբանությունը» (շեղակառը՝ Վ. Ջ.):  Հնաբանական հետազոտության
          | մերձությամբ է պայմանավորված շարքի անվանումը. Մարմնի ներդրումներ:
        div
          br
        div
          | Կտավներից երեքը պատկերում են ոստիկաններին՝ ֆուտբոլային մարզադաշտը, փողոցը կամ ցուցարարներին հսկելիս: Մեկ այլ կտավում
          | նրանք ողջագուրվում են: Բայց հինգերորդը արդեն պատկերում է ծեծված ցուցարարի դեմքը:
        div
          | Տիրապետումը սկսում է սեփական մարմնի տիրապետումից և իշխանությունը հատկապես ձգտում է աշխատել երեխաների և պատանիների, զինվորականների
          | և ոստիկանների մարմնի համար, այսինքն՝ այն մարմինների, որոնք ունեն լավ առողջություն: Կարեն Օհանյանը պատկերելով ոստիկաններին,
          | որոնք հսկում են հասարակական վայրերը կամ ընդդիմության ցույցերը, մեզ ներկայացնելով նրանց ժեսթերը, պահվածքը, բացահայտում
          | է միկրոիշխանության կոնֆիգուրացիան արդի Հայաստանում: 2008թ.-ի մարտի մեկից հետո, երբ ոստիկանական ուժերը արյունալի սպանդ
          | կատարեցին խաղաղ ցուցարարների նկատմամբ, իշխանությունը վերածվեց բռնության իշխանություն և, փաստորեն, այն գրեթե ամբողջովին
          | հանձնվեց ոստիկանին: Սա իշխանությունների և նրանց ընդդիմացողների համար այնպիսի պահ էր, երբ նրանք դարձան փոխադարձաբար
          | վտանգավոր: Այս իմաստով, արվեստի Կարեն Օհանյանի գործերը ոչ միայն Ֆուկոյի ըմբռնված իմաստով «հնաբանական» են, այլև Բենյամինի
          | իմաստով «պատմական մատերիալիզմի» ստեղծագործություն են:
        div
          | Վերջին երեք տարում քաղաքական դաշտը վերափոխվել է. հայտնվել են նոր քաղաքական սուբյեկտներ, աճում է քաղաքական ակտիվիզմը,
          | ինտերնետը դարձել է կարևոր քաղաքական գործնեության ոլորտ: Այդ ամենը հնարավորություն է՝ լսելի դարձնելու այնպիսի հասարակական
          | խմբերի ձայնը, որոնք մինչ այդ անտեսանելի էին, խլացված՝ կուսակցական գործիչների աղմկարարությամբ: Իրավիճակի մյուս առանձնահատկությունն
          | այն է, որ չափազանց կարևոր քաղաքական խնդիր է դառնում հանրային տարածքներում ազատորեն տեղաշարժվելու, մասնավորապես, արտիստական
          | կամ քաղաքական ակցիաներ կատարելու ազատությունը: Համապատասխանաբար՝ ոստիկանը, ով դեռևս վերջերս հիմնականում հասարակական
          | կարգի պահապանն էր՝ բռնում էր գողերին, զսպում խուլիգաններին, կամ հետևում երթևեկության կանոններին, այժմ վերածվել է
          | քաղաքական կարգը պահպանող սուբյեկտի: Նրա մարմինը ձեռք է բերել ոչ միայն անձեռնմխելիության հատկություն (իսկ տեսականորեն
          | անձեռնմխելի է ցանկացած մարդկային մարմին), այլև սրբության և քնքշության ֆանտազմատիկ երանգներ, որի վկայություն են տասնյակ
          | դատավարություները ցուցարարների դեմ, որոնք դիմադրել են ոստիկաններին: Առանձնապես կարևոր է այդ դատավարությունների ընթացքում
          | ընդգծվող ոստիկանի մարմնի փխրունության պնդումները: Ոստիկանի մարմնի շուրջ հյուսված ֆանտազիաները, ինչպես բարիկադների
          | այս, այնպես էլ՝ այն կողմում, վերջինիս անխուսափելիորեն վերածում են արվեստի օբյեկտի, այն դառնում է յուրատեսակ «ռեդիմեյդ»,
          | ինչպիսին էր Դյուշանի Շատրվանը: Իսկապես. վերջին մի քանի տարվա ընթացքում ստեղծվել են բազմաթիվ կտավներ և վիդեո արվեստի
          | գործեր, որտեղ ոստիկանը, նրա մարմինը հետազոտության առարկա են:
        div
          | Ոստիկանների ժեսթերի մի մասի ծագումը հեշտ է պարզել. դրանք վերցված են հոլիվուդյան կինոնկարներից: Այս հանգամանքը կարելի
          | բացատրել նրանով, որ հայաստանյան իշխանությունները քաղաքականացրել են զանգվածային մշակույթը, ստիպել են, որ շոու-բիզնեսը
          | դառնա իր քաղաքական դաշնակիցը: Ժեսթերի մյուս խմբի ծագումը հայաստանյան հանդիսատեսը ևս հեշտությամբ կարող է ճանաչել.
          | դա կիսաքրեական «լավ տղաների» ժեսթերն են: Հայաստանի իշխանությունները պատվիրում են սերիալներ, որոնց գլխավոր հերոսները
          | «լավ տղաներ», «ավտարիտետներ» և գողականներ են: Եվ նկատի ունենալով, որ կինոն հիմնականում պահվածքի և ժեսթի արվեստ է,
          | ապա այս փաստը կարելի է գնահատել որպես քրեական մարմնականության լեգիտիմացում: Այսպիսով կարելի է դուրս բերել հայաստանյան
          | միկրոիշխանության կոնֆիգուրացիայի բանաձևը որպես սպառողականի և քրեականի խառնուրդ, կամ ֆուկոյական տերմինաբանությամբ՝
          | մենք ունենք պատժական և կարգապահական համակարգերի հիբրիդ: Հենց դրանով է այն տարբերվում արևմտյան հասարակությունում առկա
          | միկրոիշխանության զուտ կարգապահական-հսկողական կոնֆիգուրացիայից:
        div
          | Թվում է նաև, որ Կարեն Օհանյանի «Մարմնի ներդրումները» շարքում ոստիկանի մարմինը հակադրված է ցուցարարի մարմնականությանը:
          | Առաջինը կազմակերպված մարմին է, որտեղ օրգանները որոշակի գործառույթ են կատարում, սահմանային դեպքում այդ մարմինը հանդիսանում
          | է մահակի կցորդ, այն ոչ-սեփական մարմին է: Ընդհակառակ, «իմ մարմինը» այն մարմինն է, որ հպվում է ինքն իրեն: Ցուցարարի
          | դեմքը ծեծված է. ցավը  մարմնի ինքնահպման առավել ինտենսիվ արտահայտություն է. այն սեփական մարմին է:
        div
          | «Մարմնի ներդրումներ» շարքը պատկերում է իշխողի ժեսթի փլուզումը, ճորտության վերջը և պայքարը՝ հանուն պարտության, քանզի հաղթողը
          | դառնում է ազատությունը սահմանափակող ուժ:
        div
          | Մարտի մեկի ցուցարարներին հաճախ որպես մեղադրանք ներկայացվում էին գաղտնի կինոնկարահանման կադրեր: Սակայն իրադրությունն այլ
          | էր, երբ ներկայացվեցին կադրեր, որոնք վկայում էին ոստիկանության գործողությունների անօրինականության մասին: Գուցե, Կարեն
          | Օհանյանի կտավներով հնարավոր չէ քրեական մեղադրանք հարուցել, բայց դրանք ևս մերկացնող վկայություններ են: Այս դեպքում
          | ևս հանդիսատեսը նայելով նկարչի ստեղծած ոստիկանների կերպարներին իր հայացքով իսկ խլում է նրա իշխանության մի մասը:
        div
          | Ինչպես հայտնի է արվեստը չունի սեփական բովանդակություն և ստեղծագործական ազդակները գալիս են այն ոլորտներից, որոնք արվեստից
          | դուրս են: Առավելաբար այդ ազդակը գալիս է քաղաքականից և արվեստը միշտ քաղաքական է, եթե նույնիսկ այդ իրողությունը չեն
          | գիտակցում: Արվեստի քաղաքական բնույթը խարսխված է այն փաստի վրա, որ արվեստն իր ազդակը ստանում է մարմնի վրա բռնության,
          | աշխատանքի և օտարացման փորձառություններից: Հայաստանի իշխանությունները ձգտում են շոու-բիզնեսի կամ սերիալների, ինչպես
          | նաև դերասաններին, արվեստագետներին իր քարոզչական մեքենայի մեջ ներառելու միջոցով էսթետիկացնել բռնության տիրապետությունը:
          | Կարեն Օհանյանը, ընդհակառակը, դիմադրում է այդ միտումներին, քաղաքականացնելով արվեստը:
          br
          br
          | [1] Walter Benjamin, Illuminations:
          |         Essays and Reflections (New York: Schoken Books, 1968), p. 255. [1] Վարդան Ազատյան, «Իրական ուտոպիաներ», Կարեն Օհանյան.
          |         իրական ուտոպիաներ, ցուց. կատ., Երևան, 2006, էջ 1.
          br
          div
            | [2] Мишель Фуко, “Власть и тело,” Интелекуалы и Власть, т. 1 (Москва: Праксис, 2002), стр. 166.
          div [3] Фуко, “Власть и тело,” стр. 169. 
          br
          br
          br
          br
        div
          br
        div
