extends ../layout

block content
  .center-view
    .article
      .justify
        h3.red Инвестиции тела
        br
        p
          span Вардан Джалоян
        br
        p
          | Созданный несколько лет назад проект Карена Оганяна "Реальные утопии" вошел в число лучших художественных работ года.
          | Я думаю, что последняя серия картин Оганяна, "Инвестиции Тела" заслуживает той же оценки. Не сложно найти общие черты
          | между этими двумя проектами не смотря на то, что первый - скорее всего экзистенциальный, а второй носит политический
          | характер. В первой серии тело рассматривается как последняя “реальная вещь" и как утопия - последнее свободное творческое
          | пространство. В "Инвестиции тела", тело рассматривается по-другому; это актуальное пространство - поле битвы микровластей.
        p
          | В обоих случаях можно заметить непреодолимое стремление открыть реальное. Взгляд Карена Оганяна, как художника, действительно
          | сильный, ограниченный только собственным восприятием, собственной совестью и искренностью. Художник стремится преодолеть
          | смущение, страх и депрессию, заразившие наше общество. В одном из своих интервью, Оганян сказал: «Для того, чтобы
          | понять, мое искусство, вы должны быть подавлены, но должны осознавать это, и, следовательно, то, что вам нужна свобода.
          | Мое искусство не для нашего общества, потому что наше общество не хочет свободы, но я не виню общество, поскольку
          | оно находится во власти страха ".
        p
          | Это реальное уже не может быть основано исключительно на наивном восприятии собственного глаза, зрение дополняется технологическими
          | возможностями, взгляд - актом необходимой проверки. В фильме "Блоу-ап" Микеланджело Антониони фотограф, просматривая
          | свои фотографии, обнаруживает на одной из них за кустами тело. Это символично для современного искусства, которое
          | превосходит классическое своей способностью проверять и исследовать. Стремясь к реальному, Карен Оганян использует
          | камеру. Снимая, выбирая лучшие среди фотографий, а затем, с помощью проектора, передавая последние на большие полотна,
          | он создает образы, которые можно назвать "гиперреалистичными".
        p
          | Но какова роль фотографии? Как я отметил, она позволяет рассматривать, т.е. смотреть на изображение под разными взглядами,
          | как будто с разных точек зрения. Отсюда огромные холсты и рисунки в неестественно больших масштабах: эти картины
          | не могут быть охвачены одним взглядом и глаз вынужден принимать различные позиции. Благодаря этому методу, фигуры
          | Оганяна обретают массивность, что подчеркивает их телесность. На первый план выходит “несловесное”, особенно язык
          | жестов - кинесика, оттесняя “словесное” - лингвистическое - на второй план. Вопрос заключается еще и в том, что в
          | процессе общения мы "видим" речь, ее содержание и форму, выразительность и смысл, в то время как движение рук и глаз,
          | как правило, игнорируются. Жест может не только повторить или дополнить слово, но и противоречить последним.
        p
          | Жесты, прежде всего, свидетельствуют о способности человека использовать свое тело; они являются выражением техники тела.
          | Но почему важна эта телесность, техника тела? Если с традиционной эстетической точки зрения, тело можно назвать красивым
          | или непропорциональным, то телесность представляет собой социальное явление. Мишель Фуко говорит, что, если бы было
          | возможно создать какое-либо знание на теле, то только за счет сочетания военных и учебных дисциплин. Именно на основе
          | власти над телом становятся возможными физиологические и организационные знания. Фуко заключает: “Именно на исследовании
          | механизмов власти, вложенных в тело, жесты и нормы поведения, должна быть построена археология гуманитарных наук,
          | и именно на близости к археологическому исследованию, основано название серии картин "Инвестиции тела".
        p
          | На трех картинах изображены полицейские, контролирующие футбольное поле, улицу или демонстрантов. На другой картине,
          | сотрудники полиции обнимаются. Но на пятой картине изображено лицо избитого демонстранта. Обладание начинается с
          | обладания собственным телом, и власти, в частности, стремятся работать для тела детей и молодежи, военнослужащих
          | и сотрудников полиции - то есть, для тех тел, которые являются здоровыми. Оганян, изображая сотрудников полиции контролирующими
          | общественные места или митинги оппозиции и, представляя нам их жесты и поведение, раскрывает конфигурацию микровластей
          | в современной Армении. После 1-го марта 2008 года, когда полицейские силы устроили кровавую бойню мирных демонстрантов,
          | власть перевоплотилась во власть насилия, и фактически была почти полностью передана полиции. Для руководящих органов
          | и оппозиции это был момент, когда они стали взаимно опасными. В этом смысле, произведения искусства Оганяна, не только
          | "археологические" в смысле Фуко, но также и являются произведениями "исторического материализма" в понимании Вениамина.
        p
          | За последние три года политическая сцена в Армении преобразовалась: появились новые политические субъекты, растет политическая
          | активность, и Интернет стал важной областью политической деятельности. Все это дает возможность, сделать слышимым
          | голос социальных групп, которые до сих пор были незаметны и оглушены шумом политических лидеров. Другой особенностью
          | такого положения является, то, что свободное передвижение в общественных местах, особенно свобода проводить артистические
          | и политические акции становится чрезвычайно важным политическим вопросом. Соответственно, сотрудник полиции, который
          | до недавнего времени в основном являлся хранителем общественного порядка, ловил преступников, ограничивал действия
          | хулиганов, или регулировал правила дорожного движения, стал хранителем политического порядка. Его тело не только
          | стало неприкосновенным (каким теоретически является любое человеческое тело), но приобрело некие фантомные оттенки
          | сакральности и деликатности, о чем свидетельствуют многочисленные судебные процессы против демонстрантов, оказавшим
          | сопротивление полиции. Особенно важным в этих случаях являются подчеркнутые заявления о деликатности тела полицейского.
          | Фантазии, сплетенные вокруг него по обе стороны баррикад, неизбежно превращают его в объект искусства; оно становится
          | своего рода "реди мейдом", на подобии "Фонтана" Дюшана. Действительно, в течение последних нескольких лет, было создано
          | множество холстов и видео работ, представляющих сотрудника полиции и его тело объектом исследования.
        p
          | Происхождение некоторых жестов полицейских легко найти: они взяты из голливудских фильмов. Это явление можно объяснить
          | тем, что регулирующие органы Армении политизировали массовую культуру, превратили шоу-бизнес в своего политического
          | союзника. Происхождение другой группы жестов также может быть легко узнанным армянскими зрителями- это полукриминальные
          | жесты "хороших парней". Власти Армении заказывают телесериалы, в которых главные герои "хорошие парни", "преступники"
          | и "авторитеты" преступного мира. А так как в кино, в основном, искусство поведения и жестов, то этот факт можно рассматривать
          | как легитимацию преступной телесности. Таким образом можно вывести формулу конфигурации микровластей в Армении как
          | смесь потребителя и преступника, или, согласно терминологии Фуко, мы имеем гибрид системы наказания и дисциплины.
          | Именно этим она отличается от чисто дисциплинарно-надзорной конфигурации микровластей в западном обществе. Кроме
          | того, кажется, что в серии картин Карена Оганяна "Инвестиции тела", тело сотрудника полиции контрастирует с телесностью
          | демонстратора. Первое - организованное тело, в котором органы выполняют определенные функции; в пограничных ситуациях
          | тело становится приложением к дубинке, это несобственное тело. Напротив, "мое тело", это тело, которое находится
          | в физическом контакте с самим собой. Лицо демонстранта в побоях, боль является наиболее интенсивным выражением физического
          | контакта с самим собой, это собственное тело. Серия «Инвестиции тела» показывает крах жеста правителя, конец рабства,
          | и борьбу за поражение, так как победитель становится силой ограничивающей свободу.
        p
          | Против демонстрантов 1 марта, часто выдвигают обвинения на основе сьемок скрытыми камерами. Хотя ситуация была другой,
          | когда были представлены изображения, которые свидетельствовали о незаконных действиях сотрудников милиции. Возможно,
          | на основе работ Оганяна не представляется возможным возбудить уголовное дело, однако они являются обличающими доказательствами.
          | В этом случае, зритель, глядя на полицейских персонажей, созданных Оганяном, самим своим взглядом крадет часть власти
          | последних.
        p
          | Искусство, как известно, не имеет собственного содержания, и творческие импульсы поступают из сфер вне его. Главный импульс
          | исходит из политической сферы, искусство всегда политическое, даже если это не осознается. Политический контекст
          | искусства в том, что оно получает свой импульс от опыта насилия, работы и отчуждения тела. Власти Армении стремятся
          | эстетизировать господство насилия путем привлечения шоу-бизнеса или сериалов, актеров или художников в свою систему
          | пропаганды. Карен Оганян, напротив, путем политизации искусства, сопротивляется этим тенденцииям.
