extends ../layout

block content
  .center-view
    .article
      .justify
        h3.red Body Investments 
        br
        p
          span Vardan Jaloyan
        br
        p
          em
            | Historical materialism wishes to return images of the past which unexpectedly appears to man singled    out by history at a moment of danger. The danger affects both the content of the tradition and its receivers. The same threat hangs over both: that of becoming a tool of the ruling classes. In every era the attempt must be made anew to wrest tradition away from conformism that is about to overpower it.
        p
          em Walter Benjamin 
        p
          em “Theses on the Philosophy of History”.
        p
          | Karen Ohanyan’s “Real Utopias” series, created a few years ago, was ranked among the best paintings of the year. I think
          | Ohanyan’s latest series of paintings, “Body Investment”. Also deserves such high praise. It’ s not difficult to find
          | commonalities between these two projects, even if the first is more existential and the second, more political. In
          | “Real Utopias”, the body is viewed as a last “real thing” and as a utopia – the last free creative space. In “Body
          | Investments”, the body is viewed differently; it is an actual space, a battlefield of micropowers.
        p
          | In both cases, the insurmountable drive to discover the real can be seen. As a painter Karen Ohanyan’s standpoint is
          | really quite strong, limited only by his own perception, conscience   and sincerity. Ohanyan strives to
          | overcome the confusion, fear and depression  that have infected the society. In one of his interviews, Ohanyan
          | said, “To understand my art, you have to be obsessed and that consequently, you need freedom. My art isn’t for our
          | society, because our society doesn’t want freedom, but I don’t blame society, because it is dominated by fear”.
        p
          | The real Ohanyan strives for, can no longer be based solely on the naïve perception of one’s own eye: the view is supplemented
          | by technological possibilities, by the act of necessary inspection. In Michelangelo Antonioni’s film “Blowup”, a
          | photographer, while inspecting his photographs, discover a body behind the bushes in one o the photos. This is symbolic
          | for contemporary art, which excels classical art through its ability to inspect/explorer. Striving for the real,
          | Ohanyan uses a camera. Taking pictures, selected he best and then, with a projector, transferring those onto large
          | canvases, Ohanyan creates images which can be called “hyperrealistic”.
        p
          | But what is the role of the photograph? It allows for inspection, to view the image from different perspectives, as if
          | from many angles.  Hence the huge canvases and figures in unnaturally large scales: those paintings cannot be
          | embraced through a single perspective and the eye is forced to take different positions. Though this device Ohanyan’s
          | figures acquire massiveness that stresses their corporeality. The non - verbal come to the fore, especially the kinesics,
          | the language of gesture, whereas the verbal, the linguistic, becomes secondary. The issue is that during communication
          | we “see” the speech, its content and form, expressiveness and meaning, while hand and eye movements are usually ignored.
          | Gestures can either echo or complete verbal language, but it can also contradict the latter.
        p
          | Gestures, first of all, tell us about a person’s ability to use his or her body; they are the expression of body technique.
          | But why is corporeality, the body technique, important? If, from a traditional aesthetic perspective, the body can
          | be called beautiful or disproportionate, corporeality is a social phenomenon. Michel Foucault in his interview “Power
          | and Body” of 1975 says that if it has been possible to produce knowledge on the body, than only through the combination
          | of military and educational disciplines. It was on the basis of the power over the body that physiological and organizational
          | knowledge become possible. Foucault’s archeology of humanities should be built on the exploration of the mechanisms
          | of power invested into the body, gestures and norms of behavior. It is its affiliation with Foucauldian  archeological
          | exploration that the name of the series is based on: “Body Investments”.
        p
          | Three of the paintings show police officers supervising a football field, street or demonstrators. In other painting,
          | police officers are embracing one another. But the fifth piece presents a face of a demonstrator who has been assaulted.
        p
          | Possession begins from possessing one’s own body and the authorities particularly strives to work for the bodies of children
          | and youth, soldiers and police officers – that is, for those bodies that are quite healthy. Ohanyan, by painting
          | police officers who are controlling public spaces or opposition rallies and by showing us their gestures and behavior,
          | uncovers the micropower’s configuration in present-day Armenia. After March 1, 2008, when police forces carried out
          | a bloody massacre of peaceful demonstrators, the power became a power of violence, and basically it was almost completely
          | given up to the police. Both for governing authorities and the opposition this was a time when they became mutually
          | dangerous.  In this sense, not only Ohanyan’s artwork, in Foucault’s sense, “archeological”, but it is also
          | “historical materials”, as understood by Benjamin.
        p
          | In the last three years political scene in Armenia has been transformed: new political subjects  have appeared,
          | political activism is growing, and the internet has become has become an important domain of political activities.
          | All of these possibilities to make audible in the voice of social groups which were invisible until then, deafened
          | by the clamor of political leaders. Another characteristic of this state of affairs is that it becomes an extremely
          | important issue to move freely in public spaces, especially to have the freedom to carry out artists or political
          | actions. Accordingly, the police officer, who until lately perhaps was basically the guardian of 
          em public order
          | ,
          |         catching criminals, curbing hooligans, or supervising traffic laws, has become a guardian of 
          em political order
          | .
          |         His body not only acquired a kind of invulnerable quality (even through theoretically each human body is invulnerable),
          |         but also phantasmal qualities of sacredness and delicacy. This is evidenced by the numerous cases against the demonstrators
          |         who resisted the police. Particularly important during those cases are the statements made about the delicacy of
          |         police officer’s body. The fantasies vowed around the police officer’s body on both sides of the barricades inevitably
          |         turn it into an art object; it becomes a sort of “ready- made” like Duchamp’s “Fountain”. Indeed, during the last
          |         few years, many canvases and video works exploring the police officer and his body have been produced.
        p
          | The origin of some police officer’s gestures are easy to find: they are taken from Hollywood films. This phenomenon can
          | be explained by the fact that Armenia’s governing authorities have politicized mass culture, forcing show business
          | to become its political ally. The origin of other group of gestures can also be easily recognized by the Armenian
          | viewers: it is the semi- criminal gestures of the “good guys’. The Armenian government commissions soap operas were
          | the main heroes are the “good guys”, “criminals”, and “authorities” of criminal world. And since the cinema is mainly
          | the art of behaviors and gestures, this can be viewed as the legitimization of criminal corporeality. In this way,
          | it is possible to come to the formula of micropower’s configuration in Armenia; it is a mixture of the consumer and
          | the criminal, or, in Foucault’s terms, we have hybrid of the system of punishment and discipline. That is how it
          | differs from the purely disciplinary-supervisory configuration of micropower in Western society.
        p
          | It also seems that in Ohanyan’s “Body Investments”, the body of a police officer is contrasted with the demonstrator’s
          | corporeality. The former is the organized body, where the organs certain functions; in border situations the body
          | becomes an attachment to truncheon, a 
          em non-ones-own-body.  
          | On the contrary, “my body”, is the body which
          |         is in physical contact with itself. The face of the demonstrator is beaten, pain is the most intensive expression
          |         of physical contact with oneself, in this sense it is 
          em ones-own-body.
          |  “Body Investments” shows the collapse
          |         of the ruler’s gesture, the end of bondage, and the struggle for defeat, since the winner becomes he power that limits
          |         freedom.
        p
          | Often images taken by the hidden cameras were presented as a way of laying blame on March 1 demonstrators. Though the
          | situation was different when the images were presented which testified the police officers’ illegal actions. Perhaps,
          | with Ohanyan’s works it is not possible to prosecute a criminal case, but they are revealing evidences too. In this
          | case by the look at the police characters produced by Ohanyan, the viewer steals a part of their power by the very
          | act of his or her viewing.
        p
          | As it is known, art does not have its own essence, and creative impulses come from spheres outside of art. Mainly the
          | impulse comes from the political and art is always political, even if this is not recognized. Art’s political context
          | is anchored on the fact that it gets its impulse from the body experiences of violence, work and alienation. Armenia’s
          | governing authorities strive to aestheticize the domination of violence by recruiting show business or soap operas,
          | actors or artists to their campaigns. Karen Ohanyan resists those tendencies by politicizing art.
        div
          hr(size='1')
          div
            p
              | Walter Benjamin, Illuminations: Essay and Reflection (New York: Schoken Books, 1968), p. 255
          div
            p
              | Vardan Azatyan, “Real Utopias”, Karen Ohanyan: Real Utopias, exh. book (Yerevan, 2006), p.3.
          div
            p
              | Michel Foucault, “Power and Body”, Intellectuals and Power, vol.1 (Moscow: Praksis, 2002), pp. 166, 169 (Russian
              | translation). 
              strong  
        br
        br
        br
