extends ../layout

block content
  .center-view
   .col-md-8.col-md-offset-2.justify
      .header.red Walls 
      br
      p
        span Eva Khachatryan
      br
      p
        | The gloomy wall, erected by Karen Ohanyan, arouses several associations. First with symbolism of barrier, obstacle and walls
        | famous in the history of mankind, which have caused revolutions and wars. After this in Ohanyan’s  works the
        | wall turns into part of a larger attention to every stone and its specific significance. For inhabitants of Yerevan
        | this is old familiar image, reminding of wrecking of old houses and erecting new buildings in their place. The artist,
        | however, besides reminding of this fact, highlights each realistically drawn stone, which with its “digital” symbolism,
        | harbors a body of information.
      br
      br
      br
