extends ../layout

block content
  .center-view
    .col-md-8.col-md-offset-2.justify
      h3.red Պատեր
      br
      span Եվա Խաչատրյան
      br
      span
        | Կարեն Օհանյանի կանգնեցրած մռայլ պատը մի քանի զուգորդում է առաջացնում, որոնցից առաջինը կապված է պատնեշի, խոչընդոտի և հեղափոխության ու պատերազմների պատճառ դարձած մարդկությանը հայտնի բոլոր պատերի սիմվոլիկ նշանակության հետ: 
        br
        br
        | Այնուհետև պատը վերածնվում է ավելի խոշոր ամբողջության մի մասի ՝ տան մանրամասնի, որից հետո ուշադրությունես դարձնում յուրաքանչյուր քարի վրա, որն ունի իր տեղն ու նշանակությունը: 
        br
        br
        | Երևան քաղաքի բնակիչների համար դա շատ ծանոթ պատկեր է ՝ հիշեցնող հին շենքերի փլուզման և նրանց տեղում նորերի կառուցման մասին: Միայն թե հեղինակը, այդ հիշեցումից բացի, նշանակություն է տալիս յուրաքանչյուր քարի ռեալիստական պատկերմանը, որն իր թվային սիմվոլիկայով ինչ – որ ինֆորմացիա է իր մեջ թաքցնում:
