extends ../../layout

block content
  .center-view
    .article
      .justify
        div(style="text-align: center;")
          p
            strong Ուտօպիա թե դիստօպիա
          small Կամ
          p
            strong Նոր ժամանակների առաջի՛ն հարցադրումը
          small (Կարեն Օհանյան և «Սևան»)
        p.p7
          br
        p Կարեն Օհանյանի Սևան կտավաշարը արվեստի տարբեր ժամանակների ծանրագույն առաքելությունները կրող և արձանագրող բացառիկ շարքերից է: Վերահաստատելով արվեստագետին որպես մեծ մտավորական, նկարչի այս կտավաշարը նոր իրողությունների և նոր ժամանակների կարևորագույն հարցադրումների արձանագրումն է: Կարծես տասնամյակներ մոռացված արվեստի մոնումենտը վերջնականապես վերականգնված է, և նկարչությունը ասես տասնամյակներ տկար լինելուց հետո նորից կանգուն է իր ամբողջ մեծությամբ: Այս հեղափոխությունը այլևս իրողություն է, և մենք նոր ժամանակների ցավը և նաև դրանից բխող հակադրությունը՝ ուտօպիական տեսլականը, մեր ոգում կրողներս կարիք չունենք արձանագրումների կամ հոդվածների: Բայց հաշվի առնելով արվեստի և արվեստաբանության տօտալ ճահճացած վիճակը շատ կարևոր ենք համարում ձևակերպել և դրանով ևս մեկ անգամ արձանագրել այս նոր ժամանակների լուսաբացը: Էս դեպքում կարող եմ հպարտորեն ասել, որ այս գիրը գրվում է նոր ժամանակների առաջնամարտիկների անունից, ովքեր տևական ժամանակ նպատակաուղղված լինելով այսօր - ը սարքել մի նոր ապագայի սկիզբ, այսօր արդեն ունեն հենարան ի դեմս Կարեն Օհանյանի, նոր իրողությունները արձանագրելու, և վստահորեն նոր ժամանակների առաջնամարտիկներ իրենց կոչելու համար: Այս առումով Սևան ցուցադրությունը բացառիկ է . Այստեղ երկակարծություն այլևս չի կարող լինել և հենց դրա արդյունքում մենք համարձակորեն ասում ենք, որ այլևս եկել են նոր ժամանակներ, մենք ապրում ենք նոր իրողություններում որոնք շարադրված են այս գրում:
        p.p9
          br
        p
          | Սկզբում, հասկանանք Կարեն Օհանյանին, դիտարկելով Սևան շարքը որպես նրա նկարչական մեզ հայտնի կենսագրության տրամաբանական շարունակություն: Նկարչությունը որպես տեսողական արվեստ, և դրանով լինելով ուտօպիական տեսլականի ձևավորման կարևորագույն գործիքներից մեկը, կարծես տևական ժամանակ արժեզրկված է եղել և արդեն տասնամյակներ մերժելով հասարակություն - համակարգ ներդաշնակության հավանականությունը մինիմալիզացվել է վերածվելով անձնական կամ անհատական ցավերի կամ խնդիրների սփոփման, ինքնախաբեությունների ձևավորման մի ինստիտուտի: Իհարկե արդարության համար պետք է նշել որ վերջին ժամանակներում արվեստի աշխարհում մի նոր ալիքի ձևավորման ճիչեր են հնչում ի դեմս տարբեր անհատների, ովքեր հասնելով այս ինստիտուտի կողմից ընդունվածության մի կետի, խոսում
          | են գույնի, գծի, ֆորմայի՝ էսթետիկայի լեզվով, փորձելով նպաստել համամարդկային արժեքների վերակառուցման գործընթացին, դրանով գոնե փոքր ինչ վերականգնելով արվեստը, որպես համամարդկային մտածողությունների արձանագրման հարթակ կամ էսպես ասած արտադրամաս: Սակայն մենք կարծում ենք, որ մեր կողմից շատ գնահատելի այդ արվեստագետների փորձերը մնում են որպես երազանք, և մեզ են հասնում որպես անլսելի ճիչ, այս համակարգի կառուցած անդունդից: Դա իհարկե հետևանք է նրանց հետագծի, կամ հանդուրժողական վերաբերմունքի, արձանագրված այդ անընդունելի իրողությունների հանդեպ: Իհարկե երկար կարելի է խոսել մեր քույրերից և եղբայրներից, ցույց տալով նրանց կարևորությունը մեր համար: Սակայն այս գիրը մեր անձնականությամբ չարժեզրկելու համար, պետք է եզրափակել այս թեման, ասելով՝ մենք ձեր հետ ենք, և երջանիկ կլինենք ձեզ մեր հետ տեսնելու, նոր ստեղծված իրողությունների և ստեղծվելիք ինստիտուտների համատեքստում:
        p.p9
          br
        p Ի վերջո ինչով է կարևոր Կարեն Օհանյանը:
        p 
          | Մերժելով արվեստի ներկայիս աշխարհին հայտնի ինստիտուտները և արժեհամակարգերը, Կարեն Օհանյանը ասես ստեղծել է իր նկարչական ես - ը հարաբերվելով միայն վերածննդով սկսած և ավանտ - գարդով ավարտված ժամանակների հետ, իր վրա կրելով այդ ժամանակների և շատ կարևոր է շեշտել, որ միա՛յն այդ ժամանակների կարևորագույն հեղափոխությունների արժեքները, նկարիչը ստեղծել է նկարչական մի հետագիծ որը չի կարող որևիցե կետում ընդունելի չլինել արվեստի դասականության տեսանկյունից: Ձերբազատվելով ես - ից, և իր մեջ կրելով համամարդկային արժեքները և անկեղծությունները Կարեն Օհանյանի նախնական շրջաններում կարելի է տեսնել մեր ժամանակներում հասարակության համամարդկային ցավերի կարևորագույն արձանագրումներ: Մերժելով ես - ի իրականությունը նկարիչը արձանագրել է, որ դարերով կառուցված իրականությունները իրավունք չունեն մեռած լինելու, որ դրանք ապրում են, առաջինը հենց իր ոգում:
          | Իհարկե շատ կարևոր է նաև այդ ցավերի համատեքստը, որը ի տարբերություն ժամանակակից արվեստի համընդհանուր մոտեցման նյութական և աշխարհիկ չեն, այլ էսթետիկ և զգացմունքային: Ի վերջո պետք է արձանագրել որ նյութականությունը կարևոր է միայն որպես կենսական կարիքների ապահովման միջոց, դրանից դուրս բոլոր հարցերը ի վերջո էսթետիկայի, գույնի, գծի և ֆորմայի մասին են: Հասարակության մեջ առկա, հասարակ խնդիրները անհատ - անհատ, անհատ - հասարակություն կամ անհատ - համակարգ հարաբերություններում, որոնք ժամանակակից արվեստի հիմնական թեմաներն են, միայն մտածողության արատավորության հետևանք են, և արվեստագետը խոսելով դրանցից որպես խնդիր այլ ոչ հետևանք, լինելով առաջնամարտիկ ուտօպիա - հակաուտօպիա պայքարում, խեղաթյուրում է մեր իրական՝ մեծ խնդիրները, դրանց հանդեպ հանդուրժողականություն ցուցաբերելով, և դրանց վերաբերվելով որպես անշրջելի իրողություններ:
        p.p9
          br
        p Բաժանելով մասերի կարող ենք ասել, որ նկարիչը մինչ օրս առանձնանում է երեք շրջանով: Վաղ շրջանում խնդիրները արձանագրելով նկարչական էսթետիկ մտածողության ողջ մոնումենտով, նա նաև կառուցել է մտածողության հարթակ, որը անշուշտ մարդ - աստված փոխհարաբերությունները և համեմատությունը կրող նկարչական վեհությունն է: Էսպիսով նրա երկրորդ շրջանը, արդեն իսկ այս հարթակում երազանքի, ուտօպիական էսթետիկայի կառուցման կամ ավլեի ճիշտ կլինի ասել նախկինում, տարբեր ժամանակների կառուցած երազանքների եզրափակման փուլ է: Այս համատեքստում հայտնի է նրա  « Իրական Ուտօպիաներ »  կտավաշարը: Էսպիսով նկարիչը խոսելով հասարակության մարդ - բնություն, մարդ - աստված հարաբերությունների խնդիրներից, արձանագրելով մտածողության իր համար ընդունելի և ճշմարիտ հարթակը, շարունակում է իր ուղղին, խոսելով այդ նույն հարթակից՝ ճշմարտության համատեքստից, երազանքի մասին: Իհարկե սա շատ կարևոր է, հաշվի առնելով երազանք - մարդ հարաբերությունների ռեգրես վերջին ժամանակներում: Կառուցողական ուտօպիանիզմի տեսանկյունից, Կարեն Օհանյանի նկարչական հետագիծը պարզ սակայն անասելի պռոդուկտիվ է: Դա կարելի է հասկանալ խնդիր - երազանք - լուծում բանաձևով: Իհարկե շատ կարևոր է հասկանալ, որ այս դեպքում լուծումը ոչ միայն վերջում է, այլ եղել է հենց ամենասկզբից, հենց դրանով է աստվածային նկարչական վեհությունը, էսթետիկ անկեղծությունը, էսթետիկ մտածողությունը, քանզի լուծված են բոլոր հարցերը էնտեղ որտեղ ճանաչում ենք մեր անկեղծությունը: Այս առումով նկարչի հետագիծը լօկ նյութական դրսևորումն է, և ժամանակ, կյանք, մարմին նյութականության մեջ, ասելիք, խոսք, ընկալում նյութականության մեջ այս արձանագրումները միայն հնարավոր են հերթով, կետ առ կետ: Սակայն մեծության և ճշմարտացիության գագաթնակետը հենց Կարեն Օհանյանի օգտագործած բանաձևում է, լուծման հարթակից խոսալ թե խնդրի, թե երազանքի, թե լուծման մասին: Կարևոր է հասկանալ, որ լուծումը մեկ տեղում է, էսթետիկ ճանաչողության, զգացմունքային անկեղծության հարթակում, և Կարեն Օհանյանի շրջանները կառուցողական առումով կետ առ կետ ճանաչելի են դարձնում այս ճշմարտությունը:
        p.p9
          br
        p Եւ Կարեն Օհանյանի վերջին շրջանը, Սևան շարքով ի վերջո այս գրի կարևորագույն և հիմնական մասը:
        p Կարևոր է նշելը, որ ի տարբերություն առաջին երկու շրջանների, երրորդը նոր ժամանակների վերջնական արձանագրումն է, և իրենով նոր հեղափոխական երկարաժամկետ ցիկլի սկիզբ: Էսպիսով այն առանձնանում է առաջին երկուսից ոչ միայն որպես շրջան, այլ նաև շրջան բառի ընկալման և ծավալայինության տեսանկյունից:
        p.p9
          br
        p Կարեն Օհանյանի այս շրջանը այլևս փնտրտուք չէ, այլևս ճշմարտության հասկանալիություն ձևավորող կամ ապացուցող չէ, այն արձանագրում է, այլևս երկմտանք չէ, այլ իրողություն, համարձակ և վերջնական դիպված, ասելու, որ այո, էստեղ է ճշմարտությունը, էստեղ է ապագան, և այլևս մենք խոսում ենք ոչ թե ձեր ընկալման, այլ մեր անկեղծության հարթակից: Այս շրջանով հստակ արձանագրվում է, որ չկա ներկա, չկա անցյալ, չկա ապագա, կա մեկ բան ուտօպիա, որը այլևս անշրջելի է, անքննարկելի: Ի վերջո սկսվել են ժամանակներ որից բխում է միայն իդեալականը, արդեն անցել են տարակուսանքի ու փնտրտուքի, և եկել է վերջնական կառուցման, վերջնական դրախտի ձևաորման այս նոր ժամանակը:
        p.p9
          br
        p Սևան կտավաշարը, անշուշտ դրախտ է, անշուշտ ուտօպիանիզմի բացարձակ դրսևորում: Կտավների գեղեցկությունը իրենց իդեալականաության մեջ: Այն լոկ էսթետիկ խոսակցություն է, որտեղ նկարիչը վերջնականորեն ապագայի աստվածության հետ է, ազատվելով արդի ժամանակներում հայտնի և դօմինանտ պրիմիտիվության, անհատականության, եսասիրական ինքնապաշտպանության իրականությունից: Ի վերջո նկարիչը խոսում է մարդ - էսթետիկա - աստվածայնություն հարաբերությունների բարձունքից, իր մտածողության հարթակը վերջնականորեն ազատելով մեր վրա ծանրացած քաոսից:
        p.p9
          br
        p Բայց ի՞նչ է ասում նոր և արդեն իսկ միակ ճշմարիտ լեզվամտածողության այդ գիրը:
        p.p9
          br
        p Միառժամանակ արձանագրելով ուտօպիաի անշրջելիությունը, կանխագուշակելով դրախտ անկախ ամենից, Կարեն Օհանյանը մի մեծ հարցադրում է անում, արդեն իսկ ոչ թե ուտօպիայի լինելիության կամ չլինելիության, այլ դրա ձևի վերաբերյալ:
        p.p9
          br
        p Ի վերջո ընդունելով դրախտային այս աշխարհը որպես իդեալականություն, ճանաչելով անշրջելի ուտօպիանիզմը, արդյո՞ք սա է այն դրախտը որին ձգտում ենք: Առանց մարդ, առանց շունչ, առանց կյանք, դրախտ որտեղ մարդկային որևիցե գոյություն երկիծանքի դրսևորում կլիներ, դրախտ որը այնքան պինդ է կանգուն, որ ի վերջո ավելին է քան բնությունը, կամ մեր մարդկային ակունքների հիմնարարությունը: Դրախտ որտեղ մենք պարտվում ենք մեր իրողություններին, և պառանոյիկ մեր զգացմունքների արդյունքում հրաժարվում ինքներս մեզնից, մարդ - բնություն ճշմարիտ կապից: Արդյո՞ք սա է այն դրախտը, որին պատրաստ ենք համաձայնել, որի համար պատրաստ ենք առաջնամարտիկ լինել, կանգուն ու համարձակ, սա՞ է այդ իրականությունը, սա՞ որտեղ հրաժարվում ենք մեր գոյության սկզբնաղբյուրից բխող երջանկության մեր տեսլականից, մեր ամենաանկեղծ երազանքներից:
        p.p9
          br
        p Սա հարցադրում է ապագայի, և ներկայի, սա կարծես հետևանքն է այն ապագայի որ մենք կառուցում ենք մեր արդի իրողություններով: Արդյո՞ք շարունակելու ենք չդիմակայել ցավին, չսիրել, չհարգել, չընդունել միմիանց, արդյոք ընտրել ենք ինքնախաբեության այս հեշտ ուղղին, որտեղ խաբված ենք ինքներս մեր կողմից, որտեղ կեղծ է մեր անկեղծությունը, որտեղ նախընտրում ենք հրաժարվել սիրուց, ցավից խուսափելու համար, թե գուցե պատրաստ ենք ցավի միջով անցնել, պայքարել, չհրաժարվել ինքներս մեզնից, մեր գոյության հիմքերից, մարդ - բնություն կապի գեղեցկությունից: Արդյո՞ք արդեն պարտվել ենք, արդյոք համարում ենք մեզ պարտված ու գերեվարված այս քաոսի կողմից, արդյոք տրվում ենք համամարդկային այս թուլամորթությանը, քանդել, քանդել գեղեցկությունը, քանդել այն իրողությունը որը մեզ իրական դրախտ է խոստանում, փոխարենը կառուցելով պատրանք, քանդելով ամենը շարժվելով դեպի առաջին, ամենահասարակ ու հեշտ, սառը անզգացմունք այս դրախտին:
        p.p9
          br
        p Կարեն Օհանյանի բարձրացնելով այս կարևորագույն հարցադրումը, միառժամանակ պատասխանել է դրան, այս սյուռեալ դրախտային լանդշաֆտներում, մեզ չթողնելով ուրիշ տարբերակ քան հրաժարվելը, մեր իրականությունից, հանդարտ ցույց տալով այն ուղին որով պետք է լողանք էսթետիկ այս տեսլականում, ի վերջո հրաժարվելով իր վերջին կտավին տրամաբանական ավարտ տալուց, դրանով իսկ հակադրվելով այս իրողությանը, դրանով իսկ արձանագրելով իր հավատը, չհանձնվելու որոշումը:
        p.p9
          br
        p Բարձրացված հարցերը ունեն մեկ պատասխան՝ ոչ, սա չէ այդ դրախտը, բայց անշուշտ էս հարթակում է մեր սխալները ուղղելու միակ հնարավորությունը: Այլևս էստեղ են մեր խնդիրները, և էստեղ պետք է գտնել լուծումները նույնպես: Արդի մարդուն հատուկ կարճաժամկետ փոփոխությունների պարզ մտածողությունը այլևս անարդյունավետ է, ներկան այլևս այն է ինչ կա, և ի վերջո մեր բոլոր հարցերը ապագայի հետ են:
        p.p9
          br
        p Կարեն Օհանյանը հայտարարել է պայքար, պատերազմ իր այս կտավաշարով: Դա ավելի ակնհայտ է դառնում  « Սևեան »- ին հաջորդող դիմանկարների շարքի հատկապես երկու գործով՝  « Ինքնադիմանկար մոլբերտի առաջ »  և  « Երազողի դանակը »  դիմանկարով: Ի վերջո այս երկու գործերը ասում են, որ մենք ընդունում ենք մարտահրավերը, և գնում դեպի հաղթանակներ, քանզի էնտեղ որտեղ դուք մեզ էսպիսի դրախտ եք խոսք տալիս, մենք շրջում ենք այն, քանդում, և կանգնում մեր դիրքերում, մոլբերտի առաջ բռունցքով և դրոշակով, կամ հեղափոխական կարմիր աստղը մեր կրծքավանդակին, դանակով, պայքարի վճռականությամբ, ու հաղթանակի ժպիտով, առանց բռնության, որովհետև բռունցքը ի վերջո էսթետիկ իրականության՝ նկարչության հետ է, բռունցք ինքներս մեր դեմ, մեր ցասման, մեր սեփական իրողության, մեր ես
          span.s5 - ի, մեր պարտության, հայելու, ինքնադիմանկարի, որտեղ մեր ու մեր պայքարն է, և իհարկե որովհետև մեր դանակը ծակող չէ, մեր դանակը նուրբ, հացի, պանրի ու կարագի, վատագույն դեպքում ապտակի դանակ է: 
        p.p9
          br
        p Մենք արձանագրում ենք պայքար, շարժում, դեպի հոգի - մարդ - բնություն հարաբերություններում հիմքային ներդաշնակությամբ ուտօպիական իրականություն: Մենք արձանագրում ենք որ մենք առաջնամարտիկի համամարդկային բեռը մեր վրա վերցնելով, պատրաստ ենք երջանկությամբ կիսել այն բոլորիդ հետ, դրանով հենց արձանագրելով մեր գալիք հաղթանակները:
        p.p9
          br
        p Վիվա Ռեվալուցիա!
          br
          br
          br
          br
          br
