extends ../../layout

block content
  .center-view
    .articles
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/real-utopias-vardan-azatyan')
          h4.red Իրական ուտոպիաներ
          p Վարդան Ազատյան / 2006
          .smaller
            | Կարեն Օհանյանի «Իրական ուտոպիաներ» (2005-2006) շարքը՝ հեղինակի պատրաստվածությամբ, մասշտաբներով և հավակնությամբ
            | կարելի է դասել վերջերս Հայաստանում ստեղծված լավագույն գեղանկարչական գործերի շարքին: Սույն հոդվածը այդ շարքի
            | ֆորմալ-ստրուկտուրալ և սոցիալական վերլուծության փորձ է:
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/real-utopias-gohar-vardanyan')
          h4.red Կարեն Օհանյանի «Իրական ուտոպիաները»
          p Գոհար Վարդանյան / 2006
          .smaller
            | Գոհար Վարդանյան 2006-ի Մայիսի 5-31-ը Երևանի ժամանակակից արվեստի կենտրոններից մեկում՝ ՆՓԱԿ-ում, տեղի ունեցավ Կարեն
            | Օհանյանի «Իրական ուտոպիաներ» խորագիրը կրող գեղանկարչական շարքի համանուն ցուցահանդեսը:
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/walls-eva-khachatryan')
          h4.red Պատեր
          p Եվա Խաչատրյան / 2007
          .smaller
            | Կարեն Օհանյանի կանգնեցրած մռայլ պատը մի քանի զուգորդում է առաջացնում, որոնցից առաջինը կապված է պատնեշի, խոչընդոտի
            | և հեղափոխության ու պատերազմների պատճառ դարձած մարդկությանը հայտնի բոլոր պատերի սիմվոլիկ նշանակության հետ:
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/vardan-jaloyan-body-investment')
          h4.red Մարմնի ներդրումներ
          p Վարդան Ջալոյան / 2008
          .smaller
            | Կարեն Օհանյանի մի քանի տարի առաջ ստեղծված «Իրական ուտոպիաներ» շարքը գնհատվեց որպես տարվա լավագույն գեղանկարչական
            | գործերից: Կարծում եմ այդպիսին է նաև իր վերջին՝ Մարմնի ներդրումներ գեղանկարչական շարքը:
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/from-avant-garde-to-avant-garde-elena-aydinyan')
          h4.red Ավանգարդից ավանգարդ
          p Ելենա Այդինյան / 2016
          .smaller
            | Խորհրդային քսանականները ուտոպիայի կառուցման շրջան էին: Այդ ուտոպիան միանգամայն իրականանալի էր թվում: Ռուսական
            | ավանգարդը նոր աշխարհ կառուցելու ճանապարհներից մեկն էր: Խորհրդային պատմության հաջորդ փուլերը վկայում էին քսանականների
            | ենթադրած ուտոպիայի իրականացման ձախողման մասին: Դրանք մեկը մյուսի հետևից հեռվացնում և գունատում էին դրա ուրվագիծը:
