extends ../../layout

block content
  .center-view
    .article
      .justify
        h3.red Ավանգարդից ավանգարդ
        br
        p
          span Ելենա Այդինյան
        br
        p
          | Խորհրդային քսանականները ուտոպիայի կառուցման շրջան էին: Այդ ուտոպիան միանգամայն իրականանալի էր թվում: Ռուսական ավանգարդը
          | նոր աշխարհ կառուցելու ճանապարհներից մեկն էր: Խորհրդային պատմության հաջորդ փուլերը վկայում էին քսանականների ենթադրած
          | ուտոպիայի իրականացման ձախողման մասին: Դրանք մեկը մյուսի հետևից հեռվացնում և գունատում էին դրա ուրվագիծը:
        | Կարեն
        |     Օհանյանի կոլաժներն առաջին հայացքից հիշեցնում են ռուսական կոնստրուկտիվիզմի գործեր՝ սևի, սպիտակի, մոխրագույնի և կարմիրի
        |     համադրության, սև և սպիտակ լուսանկարների օգտագործման և հստակ երկրաչափական ձևերի շնորհիվ: Ավելի ուշադիր դիտելիս՝ հասկանում
        |     ես, որ ժամանակի միջով մեծ ճանապարհորդության վկա ես: Արվեստագետը որպես կոլաժների նյութ օգտագործել է 1950-ական թթ.-ից ի
        |     վեր տպագրված խորհրդային ռուսալեզու ամսագրերից հատվածներ: «Կտրտելով» ուտոպիայի ձախողման ժամանակաշրջանի արտադրանքը՝ արվեստագետն
        |     այն վերադասավորում է այնպես, որ այն նորից վերակենդանանում է որպես ավանգարդ: Այն, ինչ ստացվում է վերադասավորումից, սակայն,
        |     քսանականների ավանգարդի վերածնունդը կամ շարունակությունը չէ: Այն պատկանում է իր ժամանակին և իր ստեղածման համատեքստին:
        |     Նախ և առաջ՝ այս արվեստը զրկված է այն բացահայտ քաղաքական ֆունկցիայից, որն ուներ դրա «նախատիպը»: Այն նոր աշխարհ կառուցել
        |     չի հավակնում, այլ փորձում է գլուխ հանել այն աշխարհից, որում գտնվում է: Դրա քաղաքական դիմադրությունը մշակութային շրջանակներում
        |     է մնում:
        p
        p
          | Այս կոլաժները մշակութային անհամադրելի նշանների համադրություն են: Մի կողմից՝ կոնստրուկտիվիզմին հղող ձևն է, մյուս կողմից՝
          | հետստալինյան խորհրդային պատմությանը հղող պատկերները: Այսպես, օրինակ, «Գնդակահարություն» գրությամբ կոլաժը, 1920-ականներին
          | հղելով հանդերձ, ներկայացնում է ստալինյան բռնաճնշումների թեման: Բացի այդ՝ այս կոլաժը հզոր հուզական ազդեցություն է
          | թողնում, ինչը հատուկ չէ կոնստրուկտիվիզմին՝ ըստ սահմանման: «Բռնապետի մահից հետո» գրությամբ կոլաժը ստիպում է կասկածել՝
          | արդյո՞ք այդ մահը իրոք տեղի է ունեցել, երբ բռնապետը իր նենգ ժպիտով դուրս է սպրդում կարմիր դաշտի միջից և ողջույնի ժեստով
          | հավաստիացնում է, որ մեզ հետ է: Հետաքրքիր է այն, որ Ստալինի լուսանկարի շուրջ կարմիր գիծ է գծված: Դա պարզապես ամսագրի
          | ձևավորման մաս է, որը կոնստրուկտիվիզմի չի հղում, բայց հատվածաբար վերցված՝ դառնում է կոնստրուկտիվիստական էսթետիկայի
          | տարր: Այնուամենայնիվ՝ «Արձանը» մակագրությամբ կոլաժում մի այլ բռնապետ արդեն վերածված է զուտ պատկերի: Գրեթե սիմետրիկ
          | կոմպոզիցիայի ներսում կերպարը դարձել է դեկորատիվ տարր, քանի որ զրկվել է ուժի ամենակարևոր գործիքից՝ հայացքից: Լուսանկարը
          | կորցրել է իրականությանը հղելու իր հատկությունը և մատնել իր փաստաթուղթ լինելը:
        p
          | Մի այլ կոլաժում էլ Լավրենտի Բերիային հիշեցնող կերպարը «զոհ» է գնում աբստրակտ տարրերին և աբստրակտ տարր դարձած տեքստին
          | և ինքն էլ աբստրակտ տարր դառնում: Սպորտին վերաբերող կոլաժներն առավել մոտ են կոնստրուկտիվիզմի գործերին: Որոշ դեպքերում
          | կարելի էր նույնիսկ շփոթել դրանք ռուս կոնստրուկտիվիստների գործերի հետ: Այնումաենայնիվ՝ պատկերը կրկին մատնում է ժամանակագրական
          | անհամապատասխանությունը: Մարզիկների պատկերները տիպիկ են Լճացման շրջանի ամսագրերի համար, և միանգամայն հենց այդ ժամանակաշրջանի
          | հետ զուգորդումներ են առաջացնում: Առավել ևս նման զուգորդումներ է առաջացնում “НЛО” գրությամբ կոլաժը: Թռչող ափսեների,
          | կանաչ մարդուկների տեսքով այլմոլորակայինների և նման այլ երևույթների հանդեպ հետաքրքրությունն ու ուշադրությունը հնարավոր
          | էր միայն Լճացման շրջանում, բայց ոչ մի դեպքում ոչ խորհրդային վաղ շրջանում, երբ թե՛ գիտնականները, թե՛ արվեստագետները
          | ձեռնամուխ էին լինում Երկրի վրա նոր իարակնության կառուցմանը: Զուգահեռ իրականություններ փնտրելու անհրաժեշտությունն
          | այդ կառուցման ձախողման արդյունք է: «Պայթուցիկ նյութը ռելսերի վրա» գրությամբ կոլաժը յուրահատուկ օրինակ է կոնստրուկտիվիստական
          | աբստրակտ տարրերի և տեքստի սեմանտիկ նշանակության միջև զուգահեռի. կոմպոզիցիայի ուղղահայաց առանցքը կազմող մոխրագույն
          | գծերը քանդվող ռելսեր են հիշեցնում: «7-րդ օրը, պարապմունք յոթերորդ, կիրակի» կոլաժը հակասական զուգահեռ է անցկացնում
          | խորհրդային իրականության և աստվածաշնչյան հղումների միջև: Մի կողմից՝ «Յոթերորդ օրը» արտահայտությունը հղում է Աշխարհի
          | արարմանը, մյուս կողմից՝ «Պարապմունք յոթերորդ»-ը հղում է առօրեական պլանային աշխատանքի: Մի կողմից՝ պատկերն, ամենայն
          | հավանականությամբ, առողջական կամ սպորտային որևէ գործողություն է ներկայացնում, մյուս կողմից՝ ֆիգուրը նման է չարչարանքի
          | կամ մահվան դատապարտված և այդ դատապարտումն անտրտունջ ընդունող հերոսի: Անպաշտպանության և կատարյալ «բացության» այդ տպավորությունը
          | ստացվել է պառկած ֆիգուրը ուղղահայաց շրջելու շնորհիվ:
        p
          | Տասնհինգ կոլաժներից միայն մեկն է ձգտում ձևերի և տեքստի միանգամայն աբստրակտ պատկեր լինելուն: «Ձև» բառն այստեղ երկրաչափական
          | պատկերների հետ միասին աբստրակտ կոմպոզիցիա է կազմում՝ նեքևից վերև և ձախից աջ ուղղված շարժմամբ: Խորհրդային պատմության
          | փուլերի համադրումը, միմյանց միջոցով դրանց ցուցադրումը, սակայն, կարևոր են ոչ միայն ինքնին, այլ նաև որպես այսօրվա Հայաստանի
          | մշակութային կյանքում մի իրադարձություն: Սա մեր անցյալը՝ որպես խորհրդային անցյալ գիտակցելու մի փորձ է: Մենք արգասիք
          | ենք գործընթացների մի բարդ փնջի, որն այսօր հենց այդպես՝ փնջով էլ հետևողականորեն ջնջվում է մեր պատմական հիշողությունից:
          | Արվեստագետը կարևորագույն մի քայլ է կատարում. առանց որևէ պաթոսի, գնահատականների և հունական երգչախմբի՝ նա ստեղծում
          | է մի մշակութային տարածք, որում մեր հասարակությունը կարող է վերապրել իր իսկ մշակութային պատմության այն ասպեկտը, որն
          | առօրյայում ամենից հաճախ չի գիտակցում: Ավանգարդիստ լինելն արվեստագետի համար կարևոր է, դա է մշակութային տարածքում իր
          | դիրքը: Նա խաղում է մշակութային նշանների հետ՝ համադրելով անհամադրելին: Այս ժեստի մեջ հեգնանք է առկա: Այնուամենայնիվ՝
          | Օհանյանի գործերը չեն դառնում Կոմառի և Մելամիդի ճակատային և կոպիտ համադրումները: Դրանք նուրբ և սրամիտ դիտարկումներ
          | են մեր ընդհանուր «մանկության» մասին:
