extends ../../layout

block content
  .center-view
    .article
      .justify
        h3.red Կարեն Օհանյանի «Իրական ուտոպիաները»
        br
        b Գոհար Վարդանյան
        br
        br
        span
          br
          | 2006-ի Մայիսի 5-31-ը
          | Երևանի ժամանակակից արվեստի կենտրոններից մեկում՝ ՆՓԱԿ-ում,
          | տեղի ունեցավ Կարեն Օհանյանի «Իրական ուտոպիաներ» խորագիրը կրող գեղանկարչական
          | շարքի համանուն ցուցահանդեսը: 
          br
          br
          | Ցուցահանդեսին կից ներկայացված
          | բրոշյուրում, ցուցահանդեսի կուրատոր, արվեստաբան
          | Վարդան Ազատյանը ներկայացրել է հեղինակին ու իր ստեղծագործությունը ֆորմալ-ստրուկտուրալ
          | ու սոցիալական վերլուծությամբ
          span
            | :
            a(target='', rel='') [1]
          br
          |  Սույն հոդվածը փորձում է սյուրռեալիզմի հետ համեմատական
          |     վերլուծությունների և Ժակ Լականի հոգեվերլուծության մի շարք ներդրումների միջոցով ցույց տալ այդ աշխատանքներում հայելային
          |     արտացոլման և դրա արդյունքում, ֆորմալ առումով, դրանցում մի շարք յուրօրինակ տարրերի առկայության մասին:
          br
          br
          img.img-responsive(style='float:left; margin-right:16px; margin-bottom:8px;', width='400', height='265', src='/images/large/Real-Utopias-2.jpg')
          | Արտացոլման
          |     խնդիրը Օհանյանի աշխատանքներում հատկանշական է նրանով, որ կտավներում չենք տեսնում ոչ մի էական տարր, ինչը կստիպի մտածել
          |     այդ խնդրի առաջնայնության մասին: Այս հանգամանքը նման է մի ուրույն խաղի, որտեղ արտացոլման հայելային խնդիրը մեկնաբանության
          |     մարտահրավեր է նետում մեկնաբանին: Եվ եթե խնդրին մոտենանք ավելի «մանրազննող» աչքով, ապա կբախվենք Իրական ուտոպիաներում առկա
          |     երկու շատ կարևոր արտացոլանքային տիպերի:
          br
          br
          img.img-responsive(style='float:right; margin-left:16px; margin-bottom:8px;', width='250', height='166', src='/images/large/Real-Utopias-3.jpg')
          |     Նախ սկսենք ջրի կաթիլներից, որոնք սփռված են նկարի ողջ մակերևույթով, ըստ այդմ՝  միջանցիկ դաշտ ստեղծելով դիտողի ու
          |     պատկերված ֆիգուրի միջև, քանզի դրանք դիտողի հայացքը պրոյեկտում են միաժամանակ նկարի մեջ և հակառակը: Ստանալով երկկողմանի
          |     հայելու ֆունկցիա, որի արտացոլման մի կողմը իհարկե անտեսանելի է, ավելի ճիշտ անընդգրկելի, այս փոքրիկ «հայելիները», ի տարբերություն
          |     իրական հայելու, չեն կատարում հայելուն բնորոշ բոլոր ֆունկցիաները և արտացոլում են ոչ թե պատկերված ֆիգուրն ամբողջովին, այլ՝
          |     մաս առ մաս: Տարածական ըմբռնման ու այդ տարածությունը իր մեջ ներառելու առումով, այս կաթիլների «հայելային» ֆունկցիան իհարկե
          |     թուլանում է, քանի որ միայն նկարի կենտրոնական հատվածում գտնվող կաթիլների մեջ կարելի է տեսնել ֆիգուրի ամբողջական արտացոլումը:
          |     Հետաքրքրականն այն է, որ այս հայելի-կաթիլները, որոնք ստանում են ուռուցիկ հայելու հատկանիշ և ըստ այդմ արտացոլում պատկերը
          |     գլխիվայր, ըստ էության, մինչև վերջ չկատարելով իրենց ստանձնած ֆունկցիան, տրամադրում են սխալ կամ, ավելի ճիշտ, աղավաղված
          |     արտացոլանք: Այս վերջին պարագան առաջ է քաշում իրականի ու անիրականի փոխհարաբերության սյուրռեալիստական խնդիրը:
        br
        br
        img.img-responsive(style='float:left; margin-right:16px; margin-bottom:8px;', width='250', height='344', src='/images/large/Real-Utopias-8.jpg')
        |     Բացի այդ, ինչպես նշում է Վ. Ազատյանը, հայելային կաթիլներն իրենց արտացոլանքով, հենց նույն ֆիգուրի վրա, վերարտադրում են
        |     միևնույն ֆիգուրը ոչ միայն 180 աստիճանով գլխիվայր, այլև բազմացված (թեև Ազատյանը խորամուխ չի լինում բազմացման փաստի վերլուծության
        |     մեջ): Բազմացման արդյունքում ֆիգուրը վերարտադրվում է սեփական մակերեսի վրա և, միաժամանակ, դիրքափոխվում: Այս իմաստով, որոշ
        |     առնչություն կարող ենք տեսնել Ռենե  Մագրիտի 1926թ. «Վտանգավոր կապ» կտավի միջև: Այստեղ հայելին բռնած մերկ աղջկա արտացոլանքը
        |     երևում է հակառակ կողմով, արդյունքում՝  մարմինը ներկայանում է միաժամանակ երկու կողմով, փաստ, որն անհնար է երկչափ
        |     տարածության վրա, սակայն հնարավոր է՝  նկարի այդ նույն երկչափ տարածք ներմուծված հայելու շնորհիվ: Օհանյանի մոտ հայելու
        |     այս նույն ֆունկցիան կատարում են կաթիլները:
        br
        br
        br
        img.img-responsive(style='float:left; margin-right:16px; margin-bottom:8px;', width='250', height='344', src='/images/les-liaisons-dangereuses-magritte.jpg')
        |     Բացի այդ, նկարի ողջ մակերևույթով ցրված «հայելի-կաթիլները» նաև թույլ չեն տալիս դիտողին տեսնել ֆիգուրի ամբողջական պատկերը,
        |     մանրամասն դիտել օբյեկտը, հասկանալ և ըմբռնել տեսածը: Կաթիլները միջամտում են դիտելու այս պրոցեսին, տալիս իրենց մեկնաբանությունը,
        |     իրենց վրա վերցնում պատկերվածը դիտողին հաղորդելու պարտականությունը՝  ստանձնելով միջնորդի դեր, դրանք դիտողին զրկում
        |     են պատկերի հետ «անմիջականորեն» հաղորդակցվելուց: Արդյունքում, պատկերված օբյեկտը ստանում է օտարված օբյեկտի կարգավիճակ,
        |     որին դիտողի հայացքը չի կարողանում «տիրել»:
        img.img-responsive(style='float:right; margin-left:16px; margin-bottom:8px;', width='250', height='200', src='/images/large/Real-Utopias-6.jpg')
        | Այստեղ
        |     կարելի է հատկանշական մի համեմատություն անցկացնել հայացքի տրամաբանության մասին Լականի գաղափարների հետ, որոնք նա շարադրում
        |     է Հոգեբանության չորս հիմնական գաղափարները սեմինարում: Լականը գտնում է, որ սուբյեկտը երբեք չի տեսնում այն, ինչ ուզում
        |     է տեսնել կամ այն, ինչ կա: Ուստի, տեսածը երբեք ցանկալին չէ: Լականը հետաքրքիր մի օրինակ է բերում՝ հայացքի տրամաբանության
        |     մեջ ներքաշված մարդուն համեմատելով այն կենդանիների հետ, որոնք այլ կենդանիների հայացքից պաշտպանվելու և փրկվելու համար,
        |     քողարկում են իրենց՝  ձուլվելով միջավայրին: Նա գտնում է, որ մարդկային էակները ևս վարժվում են ղեկավարել այն դիմակները,
        |     որոնք իրենք առաջարկում են այլ սուբյեկտների հայացքին: Ըստ այդմ, հայացքը ցույց է տալիս ուրիշի ներկայությունը տեսողական
        |     դաշտում:
        a(target='', rel='') [2]
        br
        br
        |  Այսպիսով`«Իրական ուտոպիաներում» այդ քողարկման դերը ստանձնում են կաթիլները: Այստեղ,
        |     դրանք բեկում են հայացքը՝ չթողնելով, որ այն հասնի նշանակետին: Այն վազում է, սահում մակերեսի վրայով, ազատ տեղեր փնտրում՝
        |     ներս թափանցելու համար, բայց ապարդյուն (սրան նպաստում է նաև դիտողին մեջքով կանգնած ֆիգուրը, որն ինքը դիմադրում է հայացքով
        |     բացահայտված լինելուն): Գուցե՞ պատկերն ինքը չի ցանկանում, որ իրեն դիտեն: Գուցե՞ այն ձեռք է բերել Լականի նշած քողարկումը:
        br
        br
        img.img-responsive(style='float:left; margin-right:16px; margin-bottom:8px;', width='250', height='344', src='/images/la-grande guerre magritte.jpg')
        |     Այս դիտողական խոչընդոտների (հայելային կաթիլներից ու դրանց սխալ արտացոլումից, կտավի մակերեսը հաղթահարելու բարդությունից,
        |     մինչև մեջքով դեպի դիտողը կանգնած ֆիգուրը), կիրառման առումով կարելի է մեկ այլ համանմանություն անցկացնել Մագրիտի Մեծ պատերազմ
        |     շարքի հետ: Այդ  շարքի գլխավոր թեման «թաքնված տեսանելին է», այստեղ՝ պատկերվածի որոշ դրվագները, հիմնականում ամենակարևորները,
        |     օրինակ՝  ֆիգուրի դեմքը, դիտավորյալ փակվում է մեկ այլ օբյեկտով՝ ծաղկեփունջ, խնձոր, թռչուն: Իր ընկեր Պատրիկ Ուոլդբերգին
        |     ուղղված նամակում Մագրիտը, իր այս աշխատանքների կապակցությամբ նշում է, որ այս աշխարհում ամենահետաքրքիրը հանկարծակի դեպի
        |     մեր գիտակցություն ներխուժած տեսանելի տեսանելիության և թաքնված տեսանելիության ներկայությունն է, որոնք բնության մեջ անբաժանելի
        |     են միմյանցից: Տեսանելին միշտ իր հետևում մեկ այլ տեսանելի է թաքցնում: Մագրիտը գտնում է, որ իր նկարները ուղղակիորեն ներկայացնում
        |     են հենց այդպիսի իրավիճակ, երբ տեսանելի երևույթի ներկայացման ու այդ նույն երևույթի հետևում թաքնվածի միջև տեղի է ունենում
        |     գործողություն: Դա բացահայտման գործողությունն է, որը Մագրիտը նմանեցնում է պայքարի:
        a(target='', rel='') [3]
        br
        br
        img.img-responsive(style='float:right; margin-left:16px; margin-bottom:8px;', width='250', height='200', src='/images/rene-magritte-son-of-man.jpg')
        |     Բացահայտող հայացքի այս պայքարը առկա է նաև Օհանյանի «Իրական ուտոպիաներում»: Դիտողը պայքարում է պատկերը մինչև վերջ տեսնելու
        |     համար, բացահայտելու համար այն, ինչը իր հայացքի համար տեսանելի չէ, բայց ակներև է, որ այն կա: Առաջին հայացքից և, հատկապես,
        |     հեռվից պարզ թվացող այս նկարները ստիպում են երկար նայել իրենց, ներսուզվել ու փորձել, նույնիսկ ջանալ, հասնել ամենաէականին՝
        |     ֆիգուրին, որը, սակայն, իր ողջ հասակով մեկ կանգնած է դիտողի առջև:
        br
        br
        img.img-responsive(style='float:left; margin-right:16px; margin-bottom:8px;', width='250', height='344', src='/images/large/Real-Utopias-9.jpg')
        span
          | Արտացոլման խնդրի մյուս կարևոր ասպեկտը պատուհանն է:
          | Պատուհանը ստեղծում է իրականի ու անիրականի փոխհարաբերություն,
          | այն արտահայտում է մեկը մյուսի արտացոլումը՝ մեկը մյուսի մեջ:
          | Ի վերջո, նկատենք, որ այս բոլոր կաթիլները գտնվում
          | են պատուհանի վրա, իսկ ֆիգուրը՝ պատուհանից այն կողմ է:
          | Սյս միջանկյալ ապակու մասին Վարդան Ազատյանը ևս խոսում է իր տեքստում:
          | Փաստորեն, ֆիգուրը արտացոլվում է ոչ միայն ջրի կաթիլներում,
          | այլև պատուհանի ապակու մեջ ու ստեղծում կրկնակի սխալ արտացոլանք:
          | Այսինքն, նկարում իրականությունը ամբողջությամբ անհասանելի է աչքին,
          | իրականության փոխարեն հայացքը դեմ է առնում ևս մեկ խոչընդոտի՝ պատուհանի:
          | Արդեն գրեթե վերջին պլանում հայտնված ֆիգուրը, որը
          | երևում է ջրի կաթիլների մեջ արտացոլված և այդ կաթիլների միջև դատարկ տարածությունների
          | մեջ, հետադարձ գործողության, այսինքն՝
          | դիտողի կողմից դրա ընկալման ժամանակ, բախվում է ևս մեկ «միջնորմի»,
          | որը հայտնվում է դիտողի (կամ նույնիսկ հենց նկարչի)
          | ու պատկերվածի միջև: Անհնար է,
          | որ այսքան դաշտերի միջով անցնելիս կերպարը չպառակտվի,
          | չվերածվի մասնիկների, չանէանա,
          | չվերածվի իր իսկ պատկերի արտացոլանքի: Ինչը գուցե ունի նաև հոգեբանական
          | պառակտման, երկատման ներիմաստը:
          br
          br
          | Այսպիսով, մեր հայացքից քողարկված «հայելի-կաթիլներն»
          | ու պատուհանը, միջամտելով ուշիմ դիտողի հայացքի մեջ՝ ստեղծում են միաժամանակ
          | պատրանքայինի ու իրականի սահմանագծին գտնվող պատկեր՝ «Իրական ուտոպիա»:
          br
          br
          img.img-responsive(style='margin-bottom:8px;', width='450', height='298', src='/images/large/Real-Utopias-5.jpg')
          div
            br
            br
            br
            div
              span
                a(target='', rel='') [1]
                |           Վարդան Ազատյանի տեքստն ու տվյալ
                | հոդվածը տպագրվել են 
                i Ակտուալ արվեստ
                |  ամսագրում 2006 թվականին, ինչպես նաեւ 
                i Ռեւիզոր
                | արվեստի պատմության օնլայն ամսագրում 
                a(href='http://www.reviosor.am/', target='', rel='') www.reviosor.am
            div
              span
                a(target='', rel='') [2]
                |           Տրված է` Keith Moxey, 
                i
                  | The
                  | Practice of Theory. Poststructuralism, Cultural Politics, and Art History.
                | Cornell University Press. Ithaca and London, 1994, 53
            div
              span
                a(target='', rel='') [3]
                |           И. Мосин, 
                i
                  | Энциклопедия
                  | сюреализма,
                | С.-П., М., 2005. 193
