extends ../../layout

block content
  .center-view
   .article
    .justify
        h3.red Իրական ուտոպիաներ
        br
        div Վարդան Ազատյան
        br
        div
          div
            | Կարեն Օհանյանի «Իրական ուտոպիաներ» (2005-2006) շարքը՝ հեղինակի պատրաստվածությամբ, մասշտաբներով և հավակնությամբ կարելի
            | է դասել վերջերս Հայաստանում ստեղծված լավագույն գեղանկարչական գործերի շարքին: Սույն հոդվածը այդ շարքի ֆորմալ-ստրուկտուրալ
            | և սոցիալական վերլուծության փորձ է:
          div
            b
              br
          div
            | Կտավները, որոնցից ամենափոքրի չափսերը մոտ երկու մետրը երկու և կես մետրի վրա են, գույնով ակտիվ են և թարմ, ինչպես Կարենի
            | գրեթե բոլոր գործերը: Յուրաքանչյուր կտավը կառուցված է գերակշռող գույների կոնկրետ հարաբերությամբ: Կարենը աշխատում
            | է ակրիլային ներկերով, ինչը, մի կողմից, ապահովում է գույնի ակտիվություն և սինթետիկ արհեստականություն, մյուս կողմից,
            | կտավի փայլատ մակերես: Կարենի քսվածքը հիմնականում կոպիտ է և մեծ կտորներով, այս հանգամանքը նրա ավելի վաղ՝ էքսպրեսիոնիստական
            | շրջանի հետևանքն է: Կարենի գործերը թեև ֆոտո-ռեալիստական են, բայց նա միշտ խուսափում է ներկերի միաձուլումից ստացվող
            | սֆումատոյի էֆեկտից:
          div
            b
              br
          div
            | Կարենն իր այս շարքն իրականացրել է մեկ տարվա ընթացքում: Տարվա տարբեր եղանակներին նա մեկնում էր քաղաքից դուրս և ցողով
            | պատված ապակիների հետևից լուսնկարում մեջքով կանգնած մարդկային ֆիգուրներ: Հետաքրքրականն այն է, որ այդ պատկերները
            | թվային լուսանկարների ուղղակի տեղափոխումն են կտավի վրա: Իսկ պատկերը լուսնկարից կտավի վրա տեղափոխելու պրոցեսը հեղինակն
            | իրականցնում է անմիջապես համակրգչի էկրանից, այսինքն՝ հենց թվային վիճակում գտնվող լուսանկարից:
          div
            b
              br
          div
            | Կարենը աշխատում է բավական փոքրիկ սենյակում, այնքան, որ կտավները բռնում են ողջ սենյակը: Դրանք այնքան մեծ են, որ ներս
            | չեն մտնում դռնով, ստիպված՝ նա դրանք ներս է մտցնում պատշգամբով: Եվ եթե սրան գումարենք այն, որ այդ մեծամասշտաբ
            | գործերի ենթաշրջանակները հայթայթելու, կտավները ձգելու, նախնական գծանկարը էպիդիասկոպից կտավի վրա տեղափոխելու ժամանակ
            | նա գիշերներ է լուսացնում, ապա զուտ նկարելու փուլը այդ կտավների ստեղծման ողջ ընթացքի մի մասն է կազմում միայն:
          div
            b
              br
          div
            | Ուստի մենք գործ ունենք ոչ թե զուտ նկարների, այլ գեղանկարչական նախագծի հետ, որն իր մեջ պարունակում է գեղանարչական
            | դիսկուրսի (էտյուդային բնանկար, նուրբ իմպաստո) և ժամանակակից տեխնոլոգիական իրականության (թվային և համակարգչային
            | տեխնոլոգիաներ) համաձուլվածքը:
          div
            b
              br
          div
            | Պատկերագրական իմաստով, Կարենի կտավներից մեզ երևում են մեջքով շրջված տղամարդկային ֆիգուրներ, որոնք գտնվում են ջրի
            | ցողերի հետևում: Ցողերը միախառնվելով ֆիգուրին՝ ձևափոխում են այն՝ վերջինիս տեսողական ուրվագիծը դարձնելով անպարզ:
            | Այս հանգամանքը դրանց օժտում է ֆոկուսից դուրս կիսաիրական կարգավիճակով և իզուր չէ, որ կառուցվածքային իմաստով, դրանց
            | գտնվելու վայրը կտավի երկրորդ պլանում է: Առաջին պլանի ցողերը, որոնք իրենց չափսերով կկշռեին մոտ մեկ-երկու լիտր,
            | հակառակ ֆիգուրներին, տեսողական իմաստով հստակ են: Դրանց ամորֆ ձեւերի մեջ գլխիվայր արտացոլվում են հետևում գտնվող
            | ֆիգուրի փոքրիկ և աղճատված պատկերները: Այնպես որ, կտավը գլխիվայր շրջելու դեպքում, այն կլցվի գլխիվեր կանգնած բազում
            | փոքր մարդուկներով: Պատկերի տեսողական զանցառման այս փաստը, իր հերթին, գուցե վկայում է Կարենի նախորդ փուլերից մյուսի՝
            | սյուրռեալիստական շրջանի մասին, երբ նա էապես ոգեշնված էր պատկերների «ուխտադրուժ»՝ Ռենե Մագրիտից: Իսկ նկարի արդեն
            | երրորդ պլանում նշմարվում են բնապատկերները:
          div
            b
              br
          div
            | Այսպիսով, ողջ նկարը կարող ենք բաժանել երեք կառուցվածքային տարածության. առաջին պլանի ցողերը, երկրորդ պլանի ֆիգուրը
            | և երրորդ պլանի բնապատկերը: Բայց և այնպես, պետք է նկատել, որ նկարներն ունեն ևս մեկ աննկատ մնացող պլան: Դա այն
            | թափանցիկ ապակին է, որի վրա գտնվում են ցողերը: Այդ թափանցիկ մակերեսը, միևնույն ժամանակ, համընկնում է կտավի ֆիզիկական
            | մակերեսի հետ: Նկատենք, որ ստեղծագործական պրոցեսի ժամանակ Կարենի հայացքը դեպի պատկերվելիք իրականությունը միջնորդվում
            | է, առաջին՝ լուսնկարչական տեսախցիկի ոսպնյակով, երկրորդ՝ խցիկի դիմաց գտնվող ապակիով, երրորդ՝ էպիդիասկոպի ոսպնյակով,
            | չորրորդ՝ համակարգչի էկրանով: Այս բազմաշերտ միջնորդվածությունը կասկածի տակ է դնում իրականության հետ արվեստագետի
            | պարզ, անմեղ և ներդաշնակ հարաբերությունը՝ դա դարձնելով բարդ և խնդրահարույց: Արվեստի գործն այլևս չի ծնվում ինքնաբուխ
            | ոգեշնչման արդյունքում, այլ արվեստագետի և իրականության բարդ փոխհարաբերության մեջ: Դրանք հայաստանյան անբերանպաստ
            | իրականության մեջ ստեղծագործելու բարդության մասին են վկայում, որը Կարենը հոգեբանորեն շատ սուր է զգում:  Իրո՛ք,
            | այս հանգամանքը ևս հաշվի առնելով, կրկին կարող ենք եզրակացնել, որ Կարենի պատկերները նրան դժվար են տրվում ոչ միայն
            | վերը նշված տեխնիկական, այլև հայկական իրականության հետ փոխշփան հոգեբանական բարդությունների պատճառով:
          div
            b
              br
          div
            | Բայց և այնպես, պետք է նկատել, որ այդ բարդությունները կարծես թաքնված են Կարենի գործերում, ճիշտ այնպես, ինչպես ապակու
            | մակերեսն է թաքնված դիտողի աչքից: Դրանց գունեղ և լավատեսական տրամադրությունը դիտողի ուշադրությունը վանում է այդ
            | պատկերների ստեղծման հիմքում ընկած բարդություններից: Դրանք կարծես շնչում են ստեղծագործական անմիջականությամբ ու
            | թեթևությամբ, հենց այն անմիջականությամբ, որի պակասից էլ ծնվել են այդ գործերը: Կարենի գործերը ուտոպիաներ են, քանզի
            | դրանք փորձում են ցույց տալ այն, ինչն անհնար է գտնել: Կարենը փորձում է վերգտնել կյանքում գոյություն չունեցող ներդաշնակությունը,
            | բայց ոչ թե դա վերստեղծելով արվեստում, այլ իրականում հայտնաբերելով հենց այն իրականության մեջ, որտեղ այն չկա: Նրա
            | պատկերները ֆիքսված և նույնությամբ վերարտադրված են Հայաստանում, դրանք, պարադոսքային կերպով, հայկական իրականության
            | մասն են, ինչն էլ դրանց տալիս է իրական ուտոպիաների կարգավիճակ: Նա մեկնում է գյուղավայրեր, փորձում է ֆիքսել մարդու
            | և բնության բացակա ներդաշնակությունը, միաձուլում է բնական տարերքը մարդկային կերպարի հետ՝ դարձնելով իրարից անբաժան
            | մեկ ամբողջականություն: Բայց այդ անելու ողջ ընթացքը միջնորդավորված է կենցաղային, ֆինանսական, տեխնիկական, հոգեբանական
            | այն անհարմարություններով, որոնք Հայաստանում ապրող միջին խավի ցանկացած արվեստագետ կունենա նմանատիպ գեղանկարչական
            | նախագիծ իրականացնելու ընթացքում (քաղաքից դուրս մեկնելու համար մեքենա հայթայթելուց, մինչև ենթաշրջանակ պատրաստողի
            | հետ սակարկումները):
          div
            b
              br
          div
            | Ինքնաբարեբար մտքիդ է գալիս նման դեպքերում Հայաստանում ծագող հիմնական հարցը. արժե՞ արդյոք: Այո՛, արժե, եթե ուզում
            | ենք, որ այն տեղն, ուր ապրում ենք դառնա պակաս անբերանպաստ, քան կա:
          div
            br
          div
            | 10.04.2006
            br
            br
            b [1] 
            | Իզուր չէ, որ միջնորդավորված պատկերը որպես իրականության հետ փոխշփման բարդության
            |             խորհրդանիշ հանդես է գալիս Կարենի սերնդակից այլ արվեստագետների գործերում, ինչպիսիք են, օրինակ՝ Աստղիկ Մելքոնյանի
            |             «Չ՛հենվել» լուսնկարչական շարքը (2004), Լուսինե Դավիդյանի “Bang, Bang” վիդեոն (2004): Առաջինի մասին առիթ ունեցել
            |             եմ գրելու, տե՛ս «Չ՛հենվել», Ակտուալ արվեստ, #3, 2005, էջ 139-142:
            br
            br
        div
          br
        div
