extends layout

block content
  .center-view
    .contacts
      a(href='mailto:karenohanyan.art@gmail.com' target='_top')
        | Google : karenohanyan.art@gmail.com
      br
      a(href='https://www.facebook.com/karen.ohanyan.14' target='_top')
        | Facebook : karen.ohanyan.14
