extends ../../layout

block content
  .center-view
   .article
    .justify
        h3.red Karen Ohanyan’s “Real Utopias” 
        br
        p
          span Gohar Vardanyan
        br
        p
          | From May 5-31, 2006, Karen Ohanyan’s “Real Utopias” exhibition was heldin one of the contemporary art museums called
          | ACCEA (Armenian Center for Contemporary Experimental Art). In the accompanying textof the exhibition the curator
          | and art critic Vardan Azatyan presented the author using the formal-structural and social analysis of his works.
          | Through the example of comparison with the surrealist works and through the Jack Lacan’s
          | psychoanalysis, this article attempts to reveal the fact of mirror reflection in Ohanyan’s works, and, as a result,it
          | tries toformally bring out some particular details of these works.
        p
          img.img-responsive(style='float:left; margin-right:16px; margin-bottom:8px;', width='400', height='265', src='/images/large/Real-Utopias-2.jpg')
          |         The issue of reflection in Ohanyan’s works is peculiar in a sense that it’s not possible to observe any essential
          |         detail allowing us to think about the priority of such matter. This fact reminds a unique game where the problem
          |         of mirror reflection can challenge the interpretation of the interpreter. And if we try to approach to this problem
          |         with a more “scrupulous” eye, we will face two very important types of reflection existing in “Real Utopias”.
        p
          img.img-responsive(style='float:right; margin-left:16px; margin-bottom:8px;', width='250', height='166', src='/images/large/Real-Utopias-3.jpg')
          |         First let’s start from the water drops scattered all over the painting’s surface, thus creating a transit field between
          |         the viewer and the depicted figure and by this projecting the viewer’s gaze simultaneously to the inside and outside
          |         of the painting. Obtaining the function of bilateral mirror, (where the other side of reflection is invisible) these
          |         “mirrors”, as opposed to real mirror, do not function like that and reflect the figure not entirely but part by part.
          |         In their spatial perception and in their inclusion of the space the reflective function of these drops is surely
          |         decreases, because only in the drops of the central part it is possible to observe complete reflection of the figure.
          |         Interestingly, these mirror-drops, obtaining the quality of convex mirror, reflect the figure upside-down. Basically,
          |         without even fulfilling the undertaken function, they provide a wrong, or more precisely, a deformed reflection.
          |         The latter fact raises the problem of a surreal relationship between the real and unreal.
        p
          img.img-responsive(style='float:left; margin-right:16px; margin-bottom:8px;', width='250', height='344', src='/images/large/Real-Utopias-8.jpg')
          |         Besides, as Vardan Azatyan mentions, by their reflectionthese mirror-drops reproduce the same figure on the same
          |         figure by not only turning it 180 degrees upside-down but also by multiplying it (however Azatyan is not going so
          |         much deeper into the analysis of the last phenomenon). As a result of such multiplication, the figure reproduces
          |         itself on its own surface and simultaneously changes its position. In this case it’s possible to observe some implications
          |         with the work of René Magritte. “Dangerous Liaisons” (1926). Here the reflection of the nude girl who holds a mirror
          |         is seen from the opposite side. As a result the body represents itself simultaneously from both sides, something
          |         which is impossible to create on a two-dimensional space but becomes possible because of the mirror inserted into
          |         the same space.
        p In Ohanyan’s work the same function of mirror is realized by water drops.
        p
          img.img-responsive(style='float:left; margin-right:16px; margin-bottom:8px;', width='250', height='344', src='/images/les-liaisons-dangereuses-magritte.jpg')
          |         Besides, these dispersed mirror-drops do not allow the viewer to see the figure completely, to observe the object
          |         in detail, understand and comprehend it. Drops interfere the process of looking, giving their interpretation and
          |         taking the responsibility of conveying the image to the viewer, because as an intermediator, they are not letting
          |         the viewer to relate with the image directly. As a result, the depicted object receives a status of alienated object
          |         where the viewer’s gaze can’t “possess” it.
        p
          img.img-responsive(style='float:right; margin-left:16px; margin-bottom:8px;', width='250', height='200', src='/images/large/Real-Utopias-6.jpg')
          | Here
          |         it is possible to have a typical comparison with the ideas of Lacan that relate with the logic of the gaze, which
          |         he represents in 
          em Four Basic Ideas of Psychology
          |  seminar. According to Lacan subject never sees
          |         what it wants to see or what in reality it is. Thus the seen is never desirable. Lacan brings an interesting example,
          |         comparing the human’s logic of the gaze with the animals’, who in order to protect and be safe from other animals’
          |         gaze hide themselves by merging with the environment. He believes that human creatures are also used to manage the
          |         masks which they suggest to the gaze of other subjects. Thus, the gaze can indicate the presence of others in the
          |         same visual space.
        p
          | The same hidden function have drops in “Real Utopias”. They refract the gaze preventing it to reach to the target. The
          | gaze runs, glides over the surface looking for free places to enter inside but in vain. And here, the fact that the
          | depicted figure stands with its back to the viewer, also promotes such a notion and resists the moment of revelation
          | by the gaze. Maybe the image also doesn’t want to be seen? Maybe it has acquired the veil indicated by Lacan?
        p
          img.img-responsive(style='float:left; margin-right:16px; margin-bottom:8px;', width='250', height='344', src='/images/la-grande-guerre-magritte.jpg')
          | In
          |         terms of the use of these visual barriers (from mirror-drops and their wrong reflection, to difficulties to overcome
          |         the painting’s surface, all the way to the figure standing with its back to the viewer) it’s better to make a comparison
          |         with another work of Magritte, the series of “Big war”. The main theme of this series is “hidden visibility”, where
          |         some fragments and basically, the most important ones, like a figure’s face is intentionally closed by another object,
          |         for example, by a bunch of flowers,  an apple or a bird. In his letter to his friend Patrick Waldberg Magritte
          |         mentioned about these works writing that the most interesting thing in this world is the presence of the visible
          |         visibility and the hidden visibility which suddenly intrude to our consciousness and are inseparable from each other
          |         in nature. Every visibility has another visibility behind it. Magritte claimed that his paintings just directly represent
          |         such situations, when the action happens between representation of visible phenomenon and the hidden object behind
          |         that visibility. That is the action of revelation, which Magritte compares with struggle.
        p
          img.img-responsive(style='float:right; margin-left:16px; margin-bottom:8px;', width='250', height='200', src='/images/rene-magritte-son-of-man.jpg')
          | This
          |         fight for revealing the gaze existed in Ohanyan’s “Real Utopias” also. The viewer struggles to see the image till
          |         the end, reveal what is not visible for the gaze, but it is obvious that it exists. At first glance, and, especially
          |         from the distance, these seemingly simple paintings forced the viewer to look at them for a long time, to try to
          |         go deeper, make efforts to reach the most essential part;  the figure, which, however, stands in front of the
          |         viewer with its whole length.
        p
          img.img-responsive(style='float:left; margin-right:16px; margin-bottom:8px;', width='250', height='344', src='/images/large/Real-Utopias-9.jpg')
          | Another
          |         important aspect of the problem of reflection is the window. It creates the interaction of real and unreal it expresses
          |         the reflection of each other, one inside the other.
        p
          | Finally, let’s mention, that all these drops are on the window, and the figure is on the other side of it. Vardan Azatyan
          | speaks about this transparent glass in his text, too. In fact, the figure is reflected not only in water drops but
          | also in the glass of a window and it creates a double wrong reflection. In other words, in the painting the reality
          | is completely inaccessible for the eye, instead of the reality the gaze faces another barrier, the window.
          | The figure, which is already in the last background, is seen only through the reflection of the water drops and through
          | the empty spaces between them. During the reverse action, which means during the process of viewer’s perception,
          | it faces another “barrier”, which stands between the viewer (and even the artist himself) and the image. It’s impossible
          | that after passing through such barriers the figure could hold its completeness, be undestroyed, not turned into
          | pieces, not become the reflection of its own image, which may have the meaning of a psychological split as well.
        p
          | So, “mirror-drops”, hidden from our gaze, and the window, interfering the viewers gaze, create the image, which is simultaneouslyin
          | the border of imaginative and real and which can only be called “Real Utopia”.
        img.img-responsive(style='margin-bottom:8px;', width='450', height='298', src='/images/large/Real-Utopias-5.jpg')
        div
          hr(size='1')
        p
          | Vardan
          | Azatyan’s text and my article were published in 
          em Actual Art 
          | magazine, 2006.
        p
          | Online
          | version of this article in Armenian language could be found also in
          em  Revisor 
          | online art magazine 
          a(href='http://www.revisor.am/') www.revisor.am
          | .
        p
          | Keith
          | Moxey, 
          em The Practice of Theory. Poststructuralism, Cultural Politics, and Art History.
          |  Cornell
          |         University Press. Ithaca and London, 1994, 53.
        p
          | И.
          | Мосин, 
          em Энциклопедия
          em  
          em сюреализма,
          em  
          | С.-П., М., 2005. 193.
