extends ../layout

block content
  .center-view
    .about-text
      div
        .header Biography
        br
        img(src='images/Karen-Ohanyan.jpg', style='width: 70%;', alt='')
        br
        br
        br
        |         Armenian post-soviet art has already passed the period that can be divided into the three stages: anti-soviet, postmodern and social-political.
        br
        br
        |  The last one is characterized by the return to active participation in social,
        |         economical, cultural and political clashes, when artists having critical approach toward the established art systems are trying to work outside of its institutions.
        br
        br
        | Karen Ohanyan plays a pivotal role in the movements associated with this
        |         third stage. Participation, transgressive actions (for which he’d got “Shiz” nickname), political fidelity and - as he defines - “the aesthetics of frontal and factual realism” - are the principles of his art.
        br
        br
        |  Karen Ohanyan's involvement
        |         into political currents began in 2003, when he stood at the forefront of the riot among the protesters who clashed with police.
        br
        br
        |  In the tragic events of March 1, 2008 the corrupted authorities dispersed the peaceful rally and 10 people
        |         were killed by government forces. Since that Karen Ohanyan actively participates in any form of social resistance promoting a political agenda of anarchism.
        br
        br
        |  Karen Ohanyan is a fine art painter and actionist. His actionist experience is
        |         transformed into his paintings and at the same time it reflects his critical approach to the realism in Fine Art. Karen Ohanyan’s paintings challenge conventions by depicting reality.
        br
        |  Since 2007 Karen Ohanyan is a founder member of “Art Lab”
        |         - the political art group. The group’s activities and projects are aimed to create and distribute the collective forms of art, self-organization and development of the new communities.
        br
        br
        |  As the most influential ideas and sometimes the source
        |         of inspiration Karen Ohanyan often mentions the name of Gustave Courbet - french social realist painter imprisoned for his involvement with the Paris Commune. This may explain why the media of fine art for Karen is more important in his struggle
        |         against the capitalist mass culture. Fine art is traditional, however it has a great potential for being politicized because it is immune to many mechanisms and methods widely used to control digital media.
        br
        br
        |  Political Fine art is capable
        |         to visualize the uncontrolled and transgressive, the fact, which often remains unseen. Karen Ohanyan explores this distinctive feature of Fine art in his masterly painted canvases.
        br
        br
        strong Vardan Jaloyan
    br
    br


