extends ../../layout
block content
  .center-view
    .articles
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/real-utopias-vardan-azatyan')
          h4.red Real Utopias
          p Vardan Azatyan / 2006
          p
          .smaller
            | If taking into account artistic and technical characteristics, as well as the scale and ambition of Karen Ohanyan’s
            | series Real Utopias (2005-2006), one can claim that they are among the best paintings recently produced in
            | Armenia. This article attempts at a formal- structural and social analysis of this series.
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/real-utopias-gohar-vardanyan')
          h4.red Karen Ohanyan’s “Real Utopias”
          p Gohar Vardanyan / 2006
          p
          .smaller
            | From May 5-31, 2006, Karen Ohanyan’s “Real Utopias” exhibition was heldin one of the contemporary art museums
            | called ACCEA (Armenian Center for Contemporary Experimental Art). In the accompanying textof the exhibition
            | the curator and art critic Vardan Azatyan presented the author using the formal-structural and social analysis
            | of his works.
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/walls-eva-khachatryan')
          h4.red Walls
          p Eva Khachatryan / 2007
          p
          .smaller
            | The gloomy wall, erected by Karen Ohanyan, arouses several associations. First with symbolism of barrier, obstacle
            | and walls famous in the history of mankind, which have caused revolutions and wars. After this in Ohanyan’s
            | works the wall turns into part of a larger attention to every stone and its specific significance.
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/vardan-jaloyan-body-investment')
          h4.red Body Investments
          p Vardan Jaloyan / 2008
          .smaller
            | Karen Ohanyan’s “Real Utopias” series, created a few years ago, was ranked among the best paintings of the year.
            | [2] I think Ohanyan’s latest series of paintings, “Body Investment”. Also deserves such high praise. It’
            | s not difficult to find commonalities between these two projects, even if the first is more existential and
            | the second, more political. In “Real Utopias”, the body is viewed as a last “real thing” and as a utopia
            | – the last free creative space. In “Body Investments”, the body is viewed differently; it is an actual space,
            | a battlefield of micropowers.
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/from-avant-garde-to-avant-garde-elena-aydinyan')
          h4.red From Avant-garde to Avant-garde 
          p Elena Aydinyan / 2016
          .smaller
            | During the 1920’s, the Soviet people were engaged in building a utopia. That utopia seemed to be absolutely feasible.
            | Russian avant-garde was one of the ways to construct a new World. The subsequent periods of Soviet history
            | indicate the failure of the realization of the utopia assumed by the 1920’s. One after another they alienated
            | and washed away its contour.
      .article
        a.no-underline(href='/' + i18n.getLocale() + '/articles/armen-yesayants-sevan')
          h4.red Sevan
          p Armen Yesayants / 2021
          .smaller
            | In the contemporary art scene of post-Soviet Armenia (especially of 2000s), Karen Ohanyan’s every single new work or series is both urgent and relevant with a precise discourse: whether it is political, social, or pure artistic. The Sevan series featuring three paintings also has the same ambition. Despite having a stylistic resemblance with the general oeuvre of the artist, each of these works boldly stands out from his earlier pieces.
    br
    br

