extends ../../layout

block content
  .center-view
    .article
      .justify
        .header.red Karen Ohanyan: Sevan
        br
        span
          | Armen Yesayants
        br
        p
        | In the contemporary art scene of post-Soviet Armenia (especially of 2000s), Karen Ohanyan’s every single new work or series is both urgent and relevant with a precise discourse: whether it is political, social, or pure artistic. The Sevan 
        | series featuring three paintings also has the same ambition. Despite having a stylistic resemblance with the general oeuvre of the artist, each of these works boldly stands out from his earlier pieces.
        p
        | In the words of the art critic Vardan Jaloyan, “as a painter, Karen Ohanyan has quite strong a stance, limited only by his own perception, conscience and sincerity”. Besides these qualities, his works can, with no doubt, be also considered in the context of international contemporary painting. While contemporary art questions the concept of art
        |  per se, Karen Ohanyan reconsiders painting in accordance with the recently evolving vector, which is not limited only to, but is affected by modern technologies as well. These processes are not a new development and Ohanyan’s works should also be viewed in the context of continuous transformations of this art form. In this sense, the value of his paintings transcends the boundaries of Armenian fine art and can be considered a local interpretation of Western painting tradition.
        p
        | In two of those rectangular, comparably large-scale paintings (140x190.5cm, 142x174cm, 146x202cm) we see industrial-like structures on a nature background, while in the third one there is also an architecture-nature scene. However, in the latter the relation of those two elements is on another level: it seems like there is a projection from the inside to the outside world and the perception can be tricky. So, we are dealing with landscape paintings which differ from a more traditional idea of the genre and are somewhere on the edge of realistic and surrealistic.
        p
        | Ohanyan himself considers these works more abstract; of course, he doesn’t consider the series abstract art, but proclaims them “metaphysical abstractions”. Nevertheless, in each painting we view a bizarre scene: one gets an impression that either the canvas is inverted by 180° (the industrial scenes), or the landscape is depicted from a viewpoint inaccessible for us. The architecture pierces the nature or vice versa. Considering the idea of “perceptual forces” by art critic, theorist and perceptual psychologist Rudolf Arnheim, when an eye confronts such scenery, it tries to bring the odd image to mind and the brain “corrects the flaw”. However, if you look closer, you’ll see that even if the pictures were inverted back or some details were changed, we wouldn’t get a fully realistic landscape, as the interrelation between man, nature, and architecture in this series is in a totally different, metaphysical mode, where even the basic gravitation laws don’t apply: the artist claims that these works are “between life and death”.
        p
        | At the same time, these paintings are united by one interesting feature: while architecture seems to have an obvious spatial domination over nature, the nature has a dominant position, being depicted above the buildings. In this context, the environmental discourse is inevitable, especially considering what familiar architectural elements are featured (factory pipes, nuclear plant towers etc.); however, this is only the tip of the iceberg, as this series is more layered.
        p
        | Parallel to everything mentioned above, the selected title, Sevan,
        | raises some questions. Talking from the perspective of a landscape painting we should admit that dozens of Armenian artists who have covered this theme since the 19
        span.s1
        sup th
        | century (G. Bashinjaghyan, Y. Tadevosyan, P. Terlemezyan, M. Saryan, H. Zardaryan, H. Siravyan, H. Hakobyan etc.), depicted the lake as they saw it, while Karen Ohanyan presents a Sevan, that no one else has seen, even the artist himself; this makes the title more or less conditional. The familiar elements, such as the azure of the lake, Geghama mountains, the trees on the bank, green fields, industrial buildings, modernist architecture details can be considered references in these works, which makes the pieces postmodernist. Although one can find some parallels with pantheist landscapes by Saryan (Ohanyan has undisguised admiration for him), from the point of general mood and aura, the canvases have more resemblance with the oeuvre of such artists as Hakobyan or Siravyan, as well as Knarik Vardanyan, especially with her industrial landscapes.
        p
        | As the works are not directly related to the Lake Sevan, it may occur that the artist is more interested in the painting tradition and the issues of the art form. Instead of looking for the mountainous lake, we can see how the artist “destroys and creates new architecture” via the painting: with many parallel and vertical small and big volumes and lines he creates kind of a classic linear perspective, where the lines not so much converge in a single vanishing point, but cross and go through each other, creating varied levels of perspectives. The atmospheric perspective (significant in traditional landscape genre) suggesting color and shade changes, is vague, which again points out that the artist has had different priorities. The artist states that he “tried to show the mystery of Sevan”. However, this can only explain the subjective motivation of the artist in choosing the title for the series, but it is also clear that the specificity of this particular lake has never been Ohanyan’s main objective.
        p
        | Thus, these pieces by Ohanyan should be discussed in the context of contemporary painting, which has been in continual “introspection”, especially in the last several decades. As far back as mid-20
        span.s1
        sup th
        | century, one of the celebrated art critics of his time Clement Greenberg was talking about the limitations of mediums of painting, which included not only oil and canvas, but also its flatness and rectangular form. This idea was shared by some artists, including one of the pioneers of post-modernism, Donald Judd. Nevertheless, according to Greenberg’s thesis, those limitations led to self-criticism of modernist painting. It resulted in the new reality, where in the last sixty years this traditional art form has had so many new interpretations; moreover, in the contemporary art the limitations of mediums in painting are not flaws but opportunities for new horizons, as it was reflected in Judd’s oeuvre as well. Today painting is still at the top of the artistic hierarchies, which has its objective historical and aesthetical reasons. According to the art critic Isabelle Graw, there is a strong bond between the product and person (the artist), which seems to be especially tightly woven in the picture on canvas: “painting suggests a physical connection to the one who made it”. In this regard, Ohanyan’s connection to his paintings is especially strong, which is getting obvious when talking to him or studying his art.
        p
        | Karen Ohanyan is mostly working on average and bigger scale canvases, and as Vardan Jaloyan states: “his paintings cannot be embraced through a single perspective and the eye is forced to take different positions.” In this perspective we face a modern social dilemma, which is best presented by art critic Jonathan Crary: “in which we intently listen to, look at, or concentrate on anything, have a deeply historical character.” Thus, the perception of visual art works has been going through a dramatic shift in the society in the last three decades, impacted by modern technologies. This is very much obvious at museums and galleries. In this regard, the Sevan
        |  series gives an opportunity of “not rushing”; with every extra second in the gallery the paintings can reveal new layers and ideas. Following art historian David Joselit, one can admit that “painting has an unlimited potential of staging meanings and actions”, so each one may be able to reveal one of those meanings.
        p.p2
        | The work on the paintings that has taken three years accumulated on the canvases a deeper reflection of the artist’s emotional, intellectual and physical labor. In that perspective, these paintings are also the accumulators or batteries of the time spent on those, and one might need a whole life to appreciate that time. However, “who can spend a lifetime looking at a single painting?”, Joselit fairly asks, highlighting that “in painting the marking and storage or accumulation of time are simultaneous and ongoing.” Thus, considering the work of several years, Ohanyan names those “suffered works”, although they might look quite light and simple.
        p
        | What do these works tell us today, in 2021? Over a year the humanity has gone through a non-stopping challenge, when the world turned upside down, which endue these pieces with prophetic charges. While working on the series from 2016 to 2019, the artists could not have imagined what kind of new meanings these works would get in our days. This exhibition has been postponed several times due to obvious reasons. Besides the layers mentioned above, what is really striking in these paintings, is how people are visually absent in the scene, although the picture is a reference to humanity’s activities. The most celebrated pieces by Karen Ohanyan, including such series as Real Utopias
        | and Body Investments 
        | are literally built up around body and men in general. When it comes to Sevan 
        | one can be surprised by the obscure scenery with no human being present and no evidence of the industrial-like buildings functioning. These works look like post-apocalyptic visions or some scenes from sci-fi movie. The absence of people, strange buildings, and the tranquility have somehow become metaphors for the new reality (the so-called new normal) we still live in. In some weird way these works reflect one of the many memes that went viral online in 2020: nature is healing, 
        | when exaggerated stories of reduced pollution during lockdowns were presented, going to grotesque levels on social media. Thus, Ohanyan’  Sevan
        | series created earlier is still urgent and relevant.
        p
        | The exhibition, Karen Ohanyan: Sevan
        | at the Cafesjian Center for the Arts not only reveals one of the most extraordinary Armenian painters of our time, but also gives an opportunity to contemplate about contemporary painting in the context of nowness. In the alarming dynamics of modern days this exhibition can become an isle of not rushing and slow communicating with arts, in dialogue with Karen Ohanyan’s paintings-landscapes.
        br
        br
        br
        br
        br