extends ../layout

block content
  .center-view
    .about-text
      div
        .header Биография
        br
        img(src='/images/Karen-Ohanyan.jpg', style='width: 70%;', alt='')
        br
        br
        br
        |  Армянское постсоветское искусство уже прошлo определенные этапы, которые можно разделить на антисоветский, постмодернистский
        |         и социально-политический. Последний характеризуется как обращение к активному участию артистов в социальных, экономических,
        |         культурных и политических столкновениях, когда художники, проявляя критический подход к учреждениям искусства, пытаются
        |         работать за пределами последних. Карен Оганян - один из ключевых художников третьего этапа. Принципы его искусства
        |         - это участие, трансгрессивные действия (за которые он получил прозвище "Шиз"), политическая принципиальность и,
        |         согласно его определению, эстетика фронтального и фактического реализма. Участие Карена Оганяна, как активиста, в
        |         политических течениях началось в 2003 году, когда он оказался в авангарде столкновения протестующих и полиции. 1
        |         марта 2008 года в результате разгона мирного митинга 10 человек стали жертвами коррумпированных властей. С этого
        |         момента, будучи идеологическим анархистом, он принимал активное участие во всех значимых политических акциях. Карен
        |         Оганян работает в двух медиах: акционизм и изобразительное искусство, куда он привносит свой опыт участника акций.
        |         Параллельно в акционизм из изобразительного искусства просачивается его критический подход к реальности. С 2007 года
        |         Карен Оганян является членом-основателем политической арт-группы "Арт Лаборатория" - группой политических активистов,
        |         основные принципы которой - коллективизм, самоорганизация и создание новых форм общества. Идеал Карена Оганяна -
        |         Гюстав Курбе - французский художник-реалист, участник Парижской Коммуны. Этим, в частности, объясняется тот факт,
        |         что изобразительное искусство имеет особую важность в борьбе Карена Оганяна против капиталистической массовой культуры.
        |         Несмотря на свою традиционность изобразительное искусство тем не менее обладает большим потенциалом для политизирования,
        |         поскольку в отличии от электронных СМИ оно находится за пределами доступа различных механизмов контроля. Политическое
        |         изобразительное искусство способно визуализировать бесконтрольное и трансгрессивное - факт, который часто остается
        |         незамеченным. В своих виртуозных полотнах Карен Оганян использует именно эту отличительную возможность изобразительного
        |         искусства.
        br
        br
        strong Вардан Джалоян
    br
    br
